[2017-08-15 15:51] Ismael-VC commented on #149
Please come to the django-jet Discord server so we can organize if you like:

  *   https://discord.gg/3yr5yeH

Welcome! 😄

[2017-08-15 15:52] Ismael-VC commented on #148
Please come to the django-jet Discord server so we can organize if you like:

  *   https://discord.gg/3yr5yeH

Welcome! 😄

[2017-08-15 15:52] Ismael-VC commented on #143
Please come to the django-jet Discord server so we can organize if you like:

  *   https://discord.gg/3yr5yeH

Welcome! 😄

[2017-08-15 15:52] Ismael-VC commented on #142
Please come to the django-jet Discord server so we can organize if you like:

  *   https://discord.gg/3yr5yeH

Welcome! 😄

[2017-08-15 15:53] Ismael-VC commented on #141
Please come to the django-jet Discord server so we can organize if you like:

  *   https://discord.gg/3yr5yeH

Welcome! 😄

[2017-08-15 15:53] Ismael-VC commented on #139
Please come to the django-jet Discord server so we can organize if you like:

  *   https://discord.gg/3yr5yeH

Welcome! 😄

[2017-08-15 15:53] Ismael-VC commented on #135
Please come to the django-jet Discord server so we can organize if you like:

  *   https://discord.gg/3yr5yeH

Welcome! 😄

[2017-08-15 15:54] Ismael-VC commented on #124
Please come to the django-jet Discord server so we can organize if you like:

  *   https://discord.gg/3yr5yeH

Welcome! 😄

[2017-08-15 15:54] Ismael-VC commented on #112
Please come to the django-jet Discord server so we can organize if you like:

  *   https://discord.gg/3yr5yeH

Welcome! 😄

[2017-08-15 15:54] Ismael-VC commented on #110
Please come to the django-jet Discord server so we can organize if you like:

  *   https://discord.gg/3yr5yeH

Welcome! 😄

[2017-08-15 15:54] Ismael-VC commented on #102
Please come to the django-jet Discord server so we can organize if you like:

  *   https://discord.gg/3yr5yeH

Welcome! 😄

[2017-08-15 15:54] Ismael-VC commented on #99
Please come to the django-jet Discord server so we can organize if you like:

  *   https://discord.gg/3yr5yeH

Welcome! 😄

[2017-08-15 15:54] Ismael-VC commented on #90
Please come to the django-jet Discord server so we can organize if you like:

  *   https://discord.gg/3yr5yeH

Welcome! 😄

[2017-08-15 15:55] Ismael-VC commented on #84
Please come to the django-jet Discord server so we can organize if you like:

  *   https://discord.gg/3yr5yeH

Welcome! 😄

[2017-08-15 15:55] Ismael-VC commented on #76
Please come to the django-jet Discord server so we can organize if you like:

  *   https://discord.gg/3yr5yeH

Welcome! 😄

[2017-08-15 15:55] Ismael-VC commented on #75
Please come to the django-jet Discord server so we can organize if you like:

  *   https://discord.gg/3yr5yeH

Welcome! 😄

[2017-08-15 15:55] Ismael-VC commented on #74
Please come to the django-jet Discord server so we can organize if you like:

  *   https://discord.gg/3yr5yeH

Welcome! 😄

[2017-08-15 15:55] Ismael-VC commented on #70
Please come to the django-jet Discord server so we can organize if you like:

  *   https://discord.gg/3yr5yeH

Welcome! 😄

[2017-08-15 15:55] Ismael-VC commented on #68
Please come to the django-jet Discord server so we can organize if you like:

  *   https://discord.gg/3yr5yeH

Welcome! 😄

[2017-08-15 15:55] Ismael-VC commented on #67
Please come to the django-jet Discord server so we can organize if you like:

  *   https://discord.gg/3yr5yeH

Welcome! 😄

[2017-08-15 15:55] Ismael-VC commented on #66
Please come to the django-jet Discord server so we can organize if you like:

  *   https://discord.gg/3yr5yeH

Welcome! 😄

[2017-08-15 15:56] Ismael-VC commented on #60
Please come to the django-jet Discord server so we can organize if you like:

  *   https://discord.gg/3yr5yeH

Welcome! 😄

[2017-08-15 15:56] Ismael-VC commented on #40
Please come to the django-jet Discord server so we can organize if you like:

  *   https://discord.gg/3yr5yeH

Welcome! 😄

[2017-08-15 15:56] Ismael-VC commented on #38
Please come to the django-jet Discord server so we can organize if you like:

  *   https://discord.gg/3yr5yeH

Welcome! 😄

[2017-08-15 15:56] Ismael-VC commented on #37
Please come to the django-jet Discord server so we can organize if you like:

  *   https://discord.gg/3yr5yeH

Welcome! 😄

[2017-08-15 15:56] Ismael-VC commented on #35
Please come to the django-jet Discord server so we can organize if you like:

  *   https://discord.gg/3yr5yeH

Welcome! 😄

[2017-08-15 15:56] Ismael-VC commented on #26
Please come to the django-jet Discord server so we can organize if you like:

  *   https://discord.gg/3yr5yeH

Welcome! 😄

[2017-08-15 15:56] Ismael-VC commented on #25
Please come to the django-jet Discord server so we can organize if you like:

  *   https://discord.gg/3yr5yeH

Welcome! 😄

[2017-08-15 15:57] Ismael-VC commented on #181
Please come to the django-jet Discord server so we can organize if you like:

  *   https://discord.gg/3yr5yeH

Welcome! 😄

[2017-08-15 16:01] Ismael-VC commented on #211
Please come to the django-jet Discord server so we can organize if you like:

  *   https://discord.gg/3yr5yeH

Welcome! 😄

[2017-08-15 16:01] Ismael-VC commented on #208
Please come to the django-jet Discord server so we can organize if you like:

  *   https://discord.gg/3yr5yeH

Welcome! 😄

[2017-08-15 16:01] Ismael-VC commented on #207
Please come to the django-jet Discord server so we can organize if you like:

  *   https://discord.gg/3yr5yeH

Welcome! 😄

[2017-08-15 16:01] Ismael-VC commented on #206
Please come to the django-jet Discord server so we can organize if you like:

  *   https://discord.gg/3yr5yeH

Welcome! 😄

[2017-08-15 16:01] Ismael-VC commented on #205
Please come to the django-jet Discord server so we can organize if you like:

  *   https://discord.gg/3yr5yeH

Welcome! 😄

[2017-08-15 16:01] Ismael-VC commented on #203
Please come to the django-jet Discord server so we can organize if you like:

  *   https://discord.gg/3yr5yeH

Welcome! 😄

[2017-08-15 16:01] Ismael-VC commented on #201
Please come to the django-jet Discord server so we can organize if you like:

  *   https://discord.gg/3yr5yeH

Welcome! 😄

[2017-08-15 16:02] Ismael-VC commented on #200
Please come to the django-jet Discord server so we can organize if you like:

  *   https://discord.gg/3yr5yeH

Welcome! 😄

[2017-08-15 16:02] Ismael-VC commented on #198
Please come to the django-jet Discord server so we can organize if you like:

  *   https://discord.gg/3yr5yeH

Welcome! 😄

[2017-08-15 16:02] Ismael-VC commented on #197
Please come to the django-jet Discord server so we can organize if you like:

  *   https://discord.gg/3yr5yeH

Welcome! 😄

[2017-08-15 16:02] Ismael-VC commented on #196
Please come to the django-jet Discord server so we can organize if you like:

  *   https://discord.gg/3yr5yeH

Welcome! 😄

[2017-08-15 16:02] Ismael-VC commented on #195
Please come to the django-jet Discord server so we can organize if you like:

  *   https://discord.gg/3yr5yeH

Welcome! 😄

[2017-08-15 16:02] Ismael-VC commented on #194
Please come to the django-jet Discord server so we can organize if you like:

  *   https://discord.gg/3yr5yeH

Welcome! 😄

[2017-08-15 16:02] Ismael-VC commented on #190
Please come to the django-jet Discord server so we can organize if you like:

  *   https://discord.gg/3yr5yeH

Welcome! 😄

[2017-08-15 16:02] Ismael-VC commented on #187
Please come to the django-jet Discord server so we can organize if you like:

  *   https://discord.gg/3yr5yeH

Welcome! 😄

[2017-08-15 16:02] Ismael-VC commented on #186
Please come to the django-jet Discord server so we can organize if you like:

  *   https://discord.gg/3yr5yeH

Welcome! 😄

[2017-08-15 16:02] Ismael-VC commented on #185
Please come to the django-jet Discord server so we can organize if you like:

  *   https://discord.gg/3yr5yeH

Welcome! 😄

[2017-08-15 16:02] Ismael-VC commented on #184
Please come to the django-jet Discord server so we can organize if you like:

  *   https://discord.gg/3yr5yeH

Welcome! 😄

[2017-08-15 16:21] all-4-1-1-4-all commented on #236
First we need to get organized as a community, this repo is dead.

[2017-08-15 16:21] SergioDzul commented on #236
In google_analytics.py
you need import threading
and:
class ModuleCredentialStorage(Storage):
     def __init__(self, module):
         self.module = module
+        self._lock = threading.Lock()

We resolve this, in: https://github.com/zodman/django-jet
https://github.com/zodman/django-jet/commit/02c5ad1c746b76185879a40fbc35185e590297e4
also we ask for the refresh tocken:
https://github.com/zodma

[2017-08-15 17:04] vicvinc commented on #124
yaaa.. I'm quite busy now, I'll be there as soon as I have some time :)

[2017-08-16 12:07] singhravi1 commented on #236
@SergioDzul thanks a lot man. it worked.
can you please explain the problem that was causing this?

[2017-08-16 12:20] SalahAdDin commented on #242
@tolomea Which's the recomendation from Django team?

[2017-08-16 16:37] bkfox commented on #241
okay

[2017-08-16 22:12] SergioDzul commented on #236
After 2 or 3 hours the access token expire but we don't have the refresh tocken, so i ask for the that with "prompt = 'consent' ".
https://github.com/google/oauth2client/blob/a1da72d15c653c7bd5221211c9a2e7ce2e6341a5/oauth2client/client.py#L1830
prompt: A space-delimited, case-sensitive list of prompts to present the user. If you don't specify this parameter, the user will be prompted only the firs

[2017-08-16 22:33] singhravi1 commented on #236
Excellent dude. It was much needed patch.
Thanks again

[2017-08-16 22:33] #236 closed

[2017-08-17 08:59] SalahAdDin commented on #236
@SergioDzul Can you make a PR to our repository?

[2017-08-17 09:01] singhravi1 commented on #236
@SergioDzul also please join us
https://discord.gg/EetgdK

[2017-08-17 17:24] zodman commented on #236
RP #231 fix this issue!

[2017-08-17 21:18] xtornasol512 opened #244 "How to limit inline on django admin"
Before you get this by solved
I try :
[code]
But I receive this error
`Cannot filter a query once a slice has been taken. django queryset`
also max_num doesnt work, because is the query set not an action of user
Thanks for your time

[2017-08-18 08:27] SalahAdDin commented on #244
@xtornasol512 Did you try it?

[2017-08-18 17:31] xtornasol512 commented on #244
Sure, I give that error when use my LIMIT_SEARCH, just works if I use it without LIMIT_SEARCH

[2017-08-18 17:57] SalahAdDin commented on #244
Need this a PR?

[2017-08-18 18:10] xtornasol512 commented on #244
I don't know if It is  a problem of django or django jet actually. BTW I use the last versión of django 1.8

[2017-08-19 17:21] SalahAdDin commented on #244
The problem is with these variable.

[2017-08-19 18:09] maxicecilia commented on #213
I was able to fix this with 2 different approches

1. In templates/admin/edit_inline/tabular.html
Replace:
[code]
with:
[code]
This was a convenient hack because I already had a local copy of tabular.html

2. In static/jet/js/src/layout-updaters/icons.js
Replace:
[code]
with
[code]
The second approach is probably the right one, but ff course, this requires to rebuild the js bundle, and I really di

[2017-08-19 20:48] SalahAdDin commented on #213
@helio-correia Can you test the second approach?
If it works i will make a PR and merge it in my fork.

[2017-08-20 12:03] helio-correia commented on #213
I had some trouble running with gulp, but I test the second option with browser console and it works like a charm. If you want I can test with more time, but i think its ready to go

[2017-08-20 16:36] SalahAdDin commented on #213
@helio-correia Please test it a few and after make PR 👍

[2017-08-20 16:53] maxicecilia commented on #213
@helio-correia I was able to create the bundle.min.js with gulp, check it out in #245

[2017-08-21 09:53] tolomea opened #246 "How do you input blank / null into an autocomplete field."
Normal Django foreign key widgets have a -------- option for setting them to null, however these go away when Jet autocomplete is enabled and I can't figure out how to set them to null after that.

[2017-08-21 15:54] tolomea commented on #246
A proof of concept fix for this is to change ModelLookupForm.lookup to

    def lookup(self):
        qs = self.model_cls.objects

        if self.cleaned_data['q']:
            if getattr(self.model_cls, 'autocomplete_search_fields', None):
                search_fields = self.model_cls.autocomplete_search_fields()
                filter_data = [Q((field + '__icontains', self.cleaned_data['q']))

[2017-08-24 03:49] dmnunez1993 opened #249 "event 'formset:added' and 'formset:removed' not triggering in javascript admin customisation for CompactInline"
Using CompactInline, when trying to bind a listener to the 'formset:added' and 'formset:removed' as per the documentation in https://docs.djangoproject.com/en/1.11/ref/contrib/admin/javascript/, the callback function is never executed. Having a look around at compact-inline.js I realized that the event itself is never triggered. Adding the trigger in the file does not seem to work either.

How sho

[2017-08-24 17:08] xtornasol512 commented on #244
Hey I could  solved this problem!
[code]
Thanks to some guys, but also I would like to do this with paginator instead of limit the query
but that means another issue :P Thanks for his patients Hope this can help someone else

[2017-08-25 17:41] SalahAdDin commented on #6
@thedrow hey, what's about it?

[2017-08-25 17:58] SalahAdDin commented on #26
@Ismael-VC , what's about this? Did you test it?

[2017-08-25 18:22] #35 closed

[2017-08-25 18:23] SalahAdDin commented on #37
@Ismael-VC What do you think about it? In `django-suit` this feature is used.

[2017-08-25 18:24] xtornasol512 commented on #244
Sorry I found out little bugs whit that solution
Sometimes doesnt work with some instances
So the best wat to do  that was Create a form set and override the init method like this
[code]
That was all Thanks !

[2017-08-25 18:26] SalahAdDin commented on #38
I forgot it but i want to make these widget.

[2017-08-25 18:30] SalahAdDin commented on #40
@jordotech Do you have this error?

[2017-08-25 18:39] SalahAdDin commented on #66
Ismael-VC, finally did you make this feature?

[2017-08-25 18:50] SalahAdDin commented on #68
@carlosfvieira @pabgn What's about the last version? Does it fixed this problem?

[2017-08-25 19:00] SalahAdDin commented on #75
@jackboot7 Do you know why?

[2017-08-25 19:12] SalahAdDin commented on #70
I have to verify if is problem from me, becuase i override the `save` method.

[2017-08-25 21:36] SalahAdDin commented on #244
@xtornasol512 Can you explain us what happen with paginator?

[2017-08-25 23:07] xtornasol512 commented on #244
I think I will check the paginator later on weekend so now limit is perfect to me!

[2017-08-26 10:21] SalahAdDin commented on #161
It still is happening inclusive after https://github.com/geex-arts/django-jet/commit/45e94712b35409652bf984bcadcdbc923c2ec2ae#diff-00db1b427cdf9ae5b3b45e603ae3225a

[2017-08-26 10:58] SalahAdDin commented on #161
@arbak Do your solution create other buds?

[2017-08-27 08:07] SalahAdDin commented on #244
Ok, we will wait for it.

[2017-08-27 08:55] thedrow commented on #6
Well it was just an idea. Feel free to close this issue if you guys are not interested in working on this.

[2017-08-27 18:51] SalahAdDin commented on #6
@thedrow Are you working in it?

[2017-08-28 07:58] carlosfvieira commented on #68
@SalahAdDin , i did not test it on last version

[2017-08-28 11:01] SalahAdDin commented on #68
@carlosfvieira Did you try put these code in the `javascript` bundle?

[2017-08-28 13:16] carlosfvieira commented on #68
@SalahAdDin , nope :\

[2017-08-28 14:15] thedrow commented on #6
No, not at all.

[2017-08-28 16:44] SalahAdDin commented on #68
@carlosfvieira Why? If you can't do it i can do it but i don't know how can i test it.

[2017-08-28 16:53] SalahAdDin commented on #249
What are you trying about it? Maybe is because `django-jet` don't use the `django` admin scripts.

[2017-08-28 16:54] SalahAdDin commented on #214
I will solve this problem in my fork, test it @luca120289

[2017-08-28 16:57] SalahAdDin commented on #179
@rdollinger Do you still have this problem?

[2017-08-28 17:51] SalahAdDin commented on #75
@f1nality Still is slow. Now is more faster, but still is slow.

[2017-08-28 17:51] SalahAdDin commented on #74
After the final version this problems are fixed.

[2017-08-28 17:51] #74 closed

[2017-08-28 17:52] SalahAdDin commented on #76
@f1nality Is fixed now, works perfect, but i think will be better add a gray scroll bar.

[2017-08-28 17:52] #76 closed

[2017-08-28 18:00] SalahAdDin commented on #84
@f1nality After the last version this problem was solved.

[2017-08-28 18:00] #84 closed

[2017-08-28 20:05] jackboot7 commented on #75
@SalahAdDin It seems that the select2 field downloads all the data (thousand of rows) and renders it into an html field before as Django renders the page.

I changed my application to use [django_extensions](http://django-extensions.readthedocs.io/en/latest/admin_extensions.html?highlight=Autocomplete)'s AutoCompleteAdmin / AutoCompleteTabularInline, which is compatible with Jet's styles and it wo

[2017-08-29 12:59] rdollinger commented on #179
Yes I have still this problem. I'm using django-jet==1.0.6

[2017-08-29 14:00] SalahAdDin commented on #6
What do `django-jet` needs for support it?

[2017-08-29 14:03] SalahAdDin commented on #75
@jackboot7 could you show us how do you implemented it?

[2017-08-29 14:06] SalahAdDin commented on #179
Yes, please, a gift will be good, we need a live example for debug it.

[2017-08-29 16:59] jackboot7 commented on #75
Simply made my ModelAdmin class inherit from AutoCompleteAdmin (or AutoCompleteTabularInline) and followed the documentation in: [https://django-extensions.readthedocs.io/en/latest/admin_extensions.html](https://django-extensions.readthedocs.io/en/latest/admin_extensions.html)

[2017-09-01 17:47] dmnunez1993 commented on #249
I just needed to attach a handler every time a new inline form is added to the admin to make some calculations on the inputs in the inline. Is there another event which is triggered when I add a new inline in CompactInline?

[2017-09-01 21:40] SalahAdDin commented on #249
I don't know.

[2017-09-02 00:21] SalahAdDin commented on #200
@Ismael-VC @f1nality It wasn't easey, but i could solve [it](https://github.com/jet-community/django-jet/commit/e44c82f05595eba4cd40c8643c8a818e4213057e).

[2017-09-02 00:24] SalahAdDin commented on #37
This [styles](https://github.com/jet-community/django-jet/commit/ae6deab69376967755f4705800f5c8547bb1f856) for date and time as footer.

[2017-09-02 11:13] SalahAdDin commented on #99
@f1nality It seems solved now.

[2017-09-02 11:13] #99 closed

[2017-09-02 11:23] SalahAdDin commented on #102
I'm happy to say, yes! It works now.

[2017-09-02 11:23] #102 closed

[2017-09-02 11:24] SalahAdDin commented on #90
It's solved in my fork.

[2017-09-13 21:09] fauziame opened #251 "After deploying website Through Heroku, Mixed content error is summoned by chrome"
After deploying website Through Heroku, Mixed content error is summoned by chrome, and also a missing js file 404 occurs, I dont understand why because everything else in my static files goes through except this particular folder "jet/js/build"

Basically, all the forms in jet are not working after deployment but in local server it works fine.

[2017-09-15 11:16] SalahAdDin commented on #251
What's the real problem? Can you put here the traceback?

[2017-09-20 12:02] IPS277L opened #254 "updateRelatedObjectLinks error at init and when selecting related obj"
Hello. I installed jet on existing big project. Everything works well, except selecting related object
[code]
[code]
This error also reproduced on page load. With disabled jet everything works well. List of installed aps

[code]
Django 1.9

[2017-09-20 13:05] IPS277L commented on #254
Looks like problem with overriding. When i overrided it by myself on something like this everything works fine
[code]
But in https://github.com/geex-arts/django-jet/commit/ee1a95a exists antoher version of this function
[code]
Which one i should use?

[2017-09-21 22:33] GermanMtzmx opened #255 "example of permissions in JET_SIDE_MENU_ITEMS"
how can i  add in "permissions" any "Group" of contrib.auth.Group to apply these group permissions

[2017-09-22 16:52] SalahAdDin commented on #255
Can you give us and examle?

By default this permissions are handled directly in the admin framework, they don't depend of us.

[2017-09-22 17:07] SalahAdDin commented on #254
Hey, you have to put `dashboar` before `jet`.

[2017-09-22 17:09] GermanMtzmx commented on #255
I have a JET_SIDE_MENU_ITEMS in my settings and i want to hide some items depending of the group
by example:

`
            {
                'name': 'auth.group',
                'label': _('Security - CMS Groups'),
            },
`

this item should be visible for the SuperAdmin group members but i don't have a clue how to specify in the permissions array , i tried `permissions = [ 'auth.group']

[2017-09-23 08:08] SalahAdDin commented on #255
@GermanMtzmx please search about admin permission, if you can constrain views but not the menu, @f1nality i thought this could be a new feature.

[2017-09-25 21:10] GermanMtzmx commented on #255
@SalahAdDin I hope it can be a new feature, thanks for give me a path to follow greets from Mexico

[2017-09-28 03:29] farah4 commented on #166
Having a similar issue - please advise if you found a fix
[https://wordpress.stackexchange.com/questions/281328/how-to-fix-a-conflict-cause-by-my-theme-with-woocommerce-and-or-gravity-forms](link to stackexchange)

[2017-09-28 06:43] maariioo opened #256 "autocomplete for normal fields"
Hello.
I have working autocomplete for both ForeignKey and ManyToManyField fields.
But I don't know how to have this feature working for the rest of fields (e.g CharField,DateField..)

[2017-09-28 11:41] amarvin commented on #166
I didn't find a fix, sorry. I wish you better luck!

[2017-09-28 14:18] SalahAdDin commented on #166
@amrvin, can you put the traceback here?

[2017-09-28 14:20] SalahAdDin commented on #256
Did you try appliying the same method?

[2017-09-28 14:22] maariioo commented on #256
yes, I try, but I see that comboboxes are populated with all data, and ajax are not sent when I write

[2017-09-28 14:25] SalahAdDin commented on #256
Can youput here the traceback?

[2017-09-28 14:32] maariioo commented on #256
I don't know how to get a traceback for this issue..

[2017-09-28 14:49] amarvin commented on #166
I didn't see any error messaging (if that's what you mean by traceback), as it was a web-browser specific alignment issue. It's been 6 months since I last tried troubleshooting it though. You should see the same alignment issue if you display any Django Jet page on IE11. Sorry that I can't provide more info.

[2017-09-28 14:57] SalahAdDin commented on #256
Review in browser: use developer tools.

[2017-09-28 15:03] maariioo commented on #256
I can't send you a traceback because there is not a javascript exception. The dropdown is initialy filled with all values (see jet demo url for adress)

[2017-09-28 15:41] SalahAdDin commented on #166
Maybe it could be solve using normalize. But add this library put more weight in the static assets.

[2017-09-29 11:11] SalahAdDin commented on #256
We need make a traceback.

[2017-10-05 06:40] shameerkashif1 commented on #139
iefausti - Can you please explain how did you solve your first problem ?

[2017-10-05 11:45] SalahAdDin commented on #139
@iesfausti @shameerkashif1 it isn't a normal problem, did you install all requirements before to install the dashboard?

[2017-10-07 18:13] shameerkashif1 commented on #158
I have the same error. Would you please explain, what you did at the line pinned = ....

[2017-10-08 17:37] shameerkashif1 opened #257 "Django-jet is not responsive."
Django-jet admin interface is too messy. Template doesn't fit in the width of page and extends itself more than the width. So, how can i make it responsive?

[2017-10-10 02:44] bartkim0426 commented on #216
is this problem solved?
I also recognize some css between filer and jet don't match

[2017-10-10 11:38] SalahAdDin commented on #216
Have a traceback for this?

[2017-10-10 12:12] SalahAdDin commented on #257
Can you show it?
Until now, last releases are full, maybe not 100%, responsive.

[2017-10-10 14:11] MIKNOTAURO commented on #216
Hi folks,
Somebody has any news about this?
I want to load files in background with django-filer and celery inside jet
any ideas?

[2017-10-10 15:43] SalahAdDin commented on #216
Have you a traceback for it?

[2017-10-13 14:50] SalahAdDin commented on #156
@Ismael-VC could you solve this problem?

[2017-10-13 14:53] PaoloC68 commented on #156
I have this problem too

[2017-10-13 14:57] PaoloC68 commented on #156
this is my code:
[code]

[2017-10-13 15:56] PaoloC68 commented on #156
Once put the custom dashboard code within an it worked, until in the project folder I got this issues

[2017-10-23 10:24] luca120289 opened #258 "jquery change on input text issue"
Hi,
since in django-jet 1.0.5 there was a bug with the jquery change event on select field (fixed in 1.0.6) I'm wondering if there's the same bug but on input type text.

I've a script in javascript that bind the event change on a input text field and it doesn't work. In the same script I have a change event function binded on a select and it work perfectly.

I've already checked all the code and

[2017-10-25 11:45] Ph0enixxx opened #259 "Need to push a new version fot DateRangeFilter"
When i saw the doc of this https://github.com/geex-arts/django-jet/blob/master/docs/filters.rst

but my Python raised an error(version: django-jet==1.0.6):

[code]
but it works when i replace ` jet.filters` to `rangefilter.filter`

should we fix the doc?

ref: https://github.com/geex-arts/django-jet/blob/master/docs/filters.rst

[2017-10-25 11:52] SalahAdDin commented on #259
@Ph0enixxx Did you try installing this package from this repo in his dev branch?

[2017-10-25 11:53] SalahAdDin commented on #258
Can you show us a traceback?

[2017-10-25 13:28] Ph0enixxx commented on #259
@SalahAdDin from pip

[2017-10-25 14:22] SalahAdDin commented on #259
Try with this.

[2017-10-27 08:29] fannigurt opened #260 "https://jet.geex-arts.com/ping.gif"
Guys, what is it and why for? =)

[2017-10-28 11:55] rdollinger commented on #179
Sorry for the late answer.

I have made a little example project. You can find it here:

https://gitlab.com/rdollinger/jet-test <https://gitlab.com/rdollinger/jet-test>

You can simulate it by clicking on „Auftragspositionen“ and then create or update an existing record. In the „auftragspoisitonen-record" you now add a new record in the CompactInline and click on the calendar symbol, the calendar

[2017-10-28 13:05] SalahAdDin commented on #179
@rdollinger Did you solve it?

[2017-10-28 13:17] SalahAdDin commented on #260
Where did you find it?

[2017-10-29 08:13] rdollinger commented on #179
Sorry no. I have made an little example where you can simulate it

https://gitlab.com/rdollinger/jet-test

Bye
Robert

[2017-10-29 21:43] fannigurt commented on #260
jet/static/jet/js/src/layout-updaters/branding.js:29

$(document).ready(function() {
    $('#branding').each(function() {
        new BrandingUpdater($(this)).run();
    });
    if ($('body.login').length != 0) {
        $('<img>').attr('src', '//jet.geex-arts.com/ping.gif');
    }
});

seem like it's safely

[2017-10-30 10:22] SalahAdDin commented on #179
@Ismael-VC What do you think about this?

[2017-10-30 10:23] SalahAdDin commented on #260
It is a point, i don't know which is his utility.

[2017-10-30 10:54] fannigurt commented on #260
huh? what do you mean?

[2017-11-02 19:05] SalahAdDin commented on #260
yep, the utility for this `gif`.

[2017-11-03 00:15] PaoloC68 opened #261 "Checkbox not visible"
I am using checkboxes in a model which is using the [django-multiselectfield](https://github.com/goinnn/django-multiselectfield) field.
It is almost all fine except that the actual input checkbox is hidden by the css and cannot be set.
What can I do to render the input instead of having it hidden?

Thanks

<img width="641" alt="screen shot 2017-11-02 at 21 06 33" src="https://user-images.githubuse

[2017-11-03 16:17] PaoloC68 commented on #261
The issue is that with django 1.9 the input tag is wrapped into the label as can be seen [here](https://github.com/django/django/blob/1.9.13/django/forms/widgets.py#L641)
So I had to override that renderer.

[2017-11-06 07:40] luca120289 commented on #258
How can I do that?

When I change the value of the input text nothing happen.
I've tried to print a console log to see if the event get fired but nothing get printed.

I forgot to mention in previous post that this input text field is associated to a date field.

[2017-11-06 17:43] SalahAdDin commented on #258
You haven't nothing in the console, ok, what happen if you try send logs through console?

[2017-11-07 07:39] luca120289 commented on #258
Nothing happen.
It's like the change event is not triggered at all.

[2017-11-08 10:52] jorisvd commented on #260
It's to ping home, probably done by the author for the purpose of statistics, to know how many projects are using Django Jet, and also to keep some control on who is paying or not paying for the commercial license.

Anyway, I don't think it should be there.

[2017-11-08 11:03] stitch opened #262 "admin actions box too small for text"
What it is:

![image](https://user-images.githubusercontent.com/333846/32545581-73014602-c47c-11e7-94f3-bc678275e9d1.png)

The width: auto changes the size when selecting something. Yet the problem is that the initial list is convoluted and always stays a bit unclear.

It's very usable after changing the css:
![image](https://user-images.githubusercontent.com/333846/32545669-be2dfb98-c47c-11e7-88b

[2017-11-08 16:28] fannigurt commented on #260
clear. we can close this issue

[2017-11-10 14:16] SalahAdDin commented on #260
@jorisvd How do you knotw this?

Thanks!

[2017-11-10 14:19] SalahAdDin commented on #258
It is very hard, very hard.

[2017-11-10 14:22] SalahAdDin commented on #262
@stitch Did you review in the script code?

[2017-11-10 14:34] jorisvd commented on #260
Correction, I don't know that for sure.
However, what other purpose could it have?

[2017-11-10 15:10] fannigurt commented on #260
I can just comment it.
I don't want to have external GET from my secure address of the admin panel.
Hope the author won't be against such step.

[2017-11-10 20:28] SalahAdDin commented on #261
Did you see view this bug in latest versions?

[2017-11-13 10:11] luca120289 commented on #258
I don't understand :)

So it's a problem of django-jet or a problem of my code?

[2017-11-13 14:17] gogson commented on #195
Same issue here.

[2017-11-13 22:16] SalahAdDin commented on #195
Ok, @rickydunlop Can you make a PR in my Fork?

[2017-11-14 09:12] rickydunlop commented on #195
@SalahAdDin Yeah sure can, what fork its yours? I don't see one on your Github page

[2017-11-14 21:17] SalahAdDin commented on #195
Oh, it is a `jet_community` fork now.

[2017-11-14 21:36] Gaara631 opened #263 "No module named 'jetdjango'"
Can't start server, makemigrations or do anything with django-jet. When removing jet from installed apps project runs
Recreating venv did not help.
What can i do with it?

Python version: 3.6.2
Django version 1.11.7
django-jet version 1.0.6

**TEMPLATES:**
[code]
**INSTALLED_APPS:**
[code]
**pip freeze:**
[code]
**Traceback:**
[code]

[2017-11-15 10:37] rickydunlop commented on #195
It looks like someone has already opened a PR with the patches I made
https://github.com/jet-community/django-jet/pull/20

[2017-11-15 21:09] SalahAdDin commented on #195
@rickydunlop Can you help us with reviewing? After it i will merge it.

[2017-11-17 07:57] abdulwahid24 commented on #151
I am using formfield_for_foreignkey in modeladmin to create custom queryset but it's not reflecting on autocomplete as the lookup is fetching all records.

[2017-11-20 08:20] abdulwahid24 commented on #151
@joristdma Your solution looks promised but little bit confuse as making changes directly on the library isn't a good idea so is there any way where I can override this functionality. Thanks

[2017-11-20 10:27] joristdma commented on #151
@abdulwahid24 I would like to make some pull requests but is this repository still being maintained? I am not seeing any new releases. If the author can comment he is alive then I can make PR's.

[2017-11-21 11:22] abdulwahid24 commented on #151
@joristdma  I do agree with you. I checked there FB, Linkedin, Github but they are not active for last couple of months.

[2017-11-21 11:27] joristdma commented on #151
@abdulwahid24  I sent out a message through the contact form on the commercial website. No reply.

[2017-11-21 12:31] Ph0enixxx opened #264 "jet admin is too wide"
Admin page is too wide, how to fix it?

OS : Mac OS X
Browser: Chrome

[2017-11-21 13:26] luca120289 commented on #258
Any news?

[2017-11-24 17:44] FuturBase opened #266 "DateRangeFilter closing itself"
Hi Folks,

i m really impressed by django jet and it s style! Just beautyfull.

I just checked out the latest commit from this repo and installed it via setup.py. However, the DateRangeFilter is not working. There is a problem with the calendar widget. If the calendar widget is open, one goes one month back, the DateRangeFilter div will get the visible removed - still the date picker remains open.

[2017-11-25 19:35] giorgi94 opened #267 "Does Jet support ajax?"
I have more then 3000 objects in Foreignkey field, so admin is really slow. In documentation I read about ajax, but it didn't work. I think it is about filtering lising of objects, but in my case this choices are in form.

Do I need some other package or jet itself has solution?

[2017-11-26 12:21] FuturBase commented on #266
Okay,

i found the problem in toolbar.js, which attaches a  onClick event to the window. This event closes the "date from - to" div, when the calender widget is used....

Removing the event completle works as temporary solution...

Cheers,

[2017-11-26 17:05] SalahAdDin commented on #263
I can understand why are asking for `jetdjango`.

[2017-11-26 17:06] SalahAdDin commented on #264
Now it is responsive.

[2017-11-26 17:08] SalahAdDin commented on #266
@FuturBase Can you make a PR for review this problem?

[2017-11-26 17:09] SalahAdDin commented on #258
Not yet, unfortunately.

[2017-11-26 17:11] SalahAdDin commented on #151
@abdulwahid24 @joristdma Can you make a PR in `jet_community` fork?

[2017-11-26 17:13] SalahAdDin commented on #267
I have the same problem with `django-jet`, i think it is a problem with `select2` library.

[2017-11-26 23:14] joristdma commented on #151
*jet-community
https://github.com/jet-community/django-jet

[2017-11-27 07:06] abdulwahid24 commented on #151
Hi @joristdma,  I checked the above fork but its release version is very behind to the original one.

[2017-11-27 09:52] Ph0enixxx commented on #264
please close this question  .. i clean my browse data and then be okay   django origin static files confilct it

[2017-11-27 14:41] FuturBase commented on #266
@SalahAdDin PR ?

[2017-11-27 16:32] joristdma commented on #151
@abdulwahid24 @SalahAdDin Does it make sense to create yet another fork? Will we be able to maintain it? If someone wants to organize the new fork and edit the README and maybe some configuration files, I can make the PR's for a couple of features and bugs.

[2017-11-27 20:39] SalahAdDin commented on #264
Only you can close it, or @f1nality

[2017-11-27 20:43] SalahAdDin commented on #151
@joristdma These fork is our fork, make your PR and we will review it and merge it, if you want mantain it, your welcome.

[2017-11-27 20:45] SalahAdDin commented on #266
@FuturBase, a pull request.

[2017-11-28 03:43] FuturBase commented on #266
@SalahAdDin sure, i can put my solution into a pr. But i m considering it more as a temporary fix. Should i still go for the PR?

[2017-11-28 07:15] abdulwahid24 commented on #151
@SalahAdDin  Are you maintaining `geex-arts/django-jet` original repo? If yes then I would suggest you to be more active because there are people who are investing their effort in order to improve the django-jet but no is responding to accept their PR and issues.

[2017-11-28 10:59] Allan-Nava opened #268 "Permission for specific object in AdminPanel"
I have this admin.py and models.py

[code]
I need the autosearch for django users, how can I implement it?

![screen shot 2017-11-28 at 09 40 20](https://user-images.githubusercontent.com/22498435/33309946-4472a61a-d420-11e7-8fee-f38b3e7710d4.png)

I created programmatically when the user is registered.
![screen shot 2017-11-28 at 09 57 16](https://user-images.githubusercontent.com/22498435/333106

[2017-11-28 12:29] abuvanth opened #269 "Django-smart-selects not work in jet admin"

[2017-11-28 19:27] jackboot7 commented on #151
@abdulwahid24 As I understand from @SalahAdDin  reply he is mantaining `jet-community/django-jet` fork. I think he is open to PRs/Issues down in `jet-community/django-jet`.

[2017-11-29 11:31] roytsang opened #270 "Foreign key field in admin Inline cannot get the queryset correctly"
I have a issue that, there is no items in the select list when it is a foreign key on the inline admin (TabularInline, StackedInline, CompactInline).
When create new item, there are have items on the list.
However, once the items is saved, continue edit it, there will be no items appear in the select list.
![screenshot-localhost-8000-2017-11-29-19-25-43-712](https://user-images.githubusercontent.c

[2017-11-29 13:25] abdulwahid24 commented on #259
@SalahAdDin Which repo you are pointing ?

[2017-11-29 13:28] abdulwahid24 commented on #151
@SalahAdDin I see the release version on `jet-community/django-jet` is very behind as compare to the parent repo, I am not sure whether `jet-community/django-jet` has all previous features and fixes from the parent repo.

[2017-11-29 13:45] abdulwahid24 commented on #259
@Ph0enixxx How does it works `but it works when i replace jet.filters to rangefilter.filter`? Would you please elaborate a little bit?

[2017-11-29 13:52] abdulwahid24 commented on #151
@SalahAdDin  I think your fork is not up to date as its not supporting django 1.11 as I am getting the below error.
[code]

[2017-11-30 00:36] valych commented on #263
You are missing the comma after `jet` in `INSTALLED_APPS`

[2017-11-30 15:09] abdulwahid24 commented on #186
@Ismael-VC do you have any update on it?

[2017-11-30 15:10] abdulwahid24 commented on #179
@Ismael-VC @SalahAdDin Do you have any update on it?

[2017-11-30 15:57] abdulwahid24 opened #272 "Missing Datepicker on custom template."
Hi,
I created a custom template with simple django from such as
[code]
{% extends "admin/base.html" %}
{% load i18n static jet_tags admin_urls %}

{% block breadcrumbs %}
    <div class="breadcrumbs">
        <a href="{% url 'admin:index' %}">{% trans 'Home' %}</a>
        &rsaquo; <a href="{% url 'admin:app_list' app_label=opts.app_label %}">{{ app_label|capfirst|escape }}</a>
        &rsaquo; {%

[2017-12-01 09:26] SalahAdDin commented on #272
Can you see in the browser console?

[2017-12-01 10:17] abdulwahid24 commented on #272
@SalahAdDin There is no error in console.
![console](https://user-images.githubusercontent.com/4718496/33478324-edc1472c-d6ae-11e7-8192-9c65918e21a0.png)

[2017-12-01 10:18] abdulwahid24 commented on #272
Check out my template above, I doubt there might be something I need to extend in template related to jet.

[2017-12-01 16:08] SalahAdDin commented on #179
Not now, whe are waiting for PR.

[2017-12-01 16:09] SalahAdDin commented on #266
Try with your solution and maybe we can improve them after.

[2017-12-03 14:57] SalahAdDin commented on #263
Yes, @valych, you are right!

[2017-12-03 14:59] SalahAdDin commented on #272
What did you change in your template?

[2017-12-03 15:06] SalahAdDin commented on #151
@abdulwahid24 these version is very ahead, is updated, many PR was merged, and etc.
Leave me see about this problem, because i think we did solved these problems before.

[2017-12-05 07:23] SalahAdDin commented on #260
@f1nality

[2017-12-05 14:16] abdulwahid24 commented on #151
@SalahAdDin  I installed from the release tag (https://github.com/jet-community/django-jet/archive/0.1.5.zip) like `pip install https://github.com/jet-community/django-jet/archive/0.1.5.zip` and then I am getting the below mentioned error.
[code]

[2017-12-05 14:36] abdulwahid24 commented on #272
@SalahAdDin
That's what I couldn't figure out what I am missing in the template. I shared my template above. Would you please have a look at it and check If I missed anything.
I would be very thankful to you.

Thanks

[2017-12-05 17:18] SalahAdDin commented on #151
Ok, because these release is old, we didn't release a new version yet.

[2017-12-05 18:13] abdulwahid24 commented on #151
Then I install by `pip install git+https://github.com/jet-community/django-jet.git`, Its working fine.
Now I think @joristdma you should submit your PRs on [jet-community's django-jet](https://github.com/jet-community/django-jet)

[2017-12-07 20:44] abdulwahid24 commented on #232
@ThunderTrent Did you resolve the issue?

[2017-12-08 01:35] sandro-salles opened #275 "JET_CHANGE_FORM_SIBLING_LINKS not filtering the queryset based on preserved_filters"
Guys,

I've found that the sibling navigation is currently ignoring preserved_filters when the _changelist_filters are present in the request.GET QueryDict.

apparently the try/except block at line 219 of jet/utils.py always raises a IncorrectLookupParameters exception saying **IncorrectLookupParameters: MODEL has no field named u'_changelist_filters**.

I managed to "solve" this issue with a work

[2017-12-09 00:20] tgk-merci opened #276 "Django 2.0 url?"
i have seen many incompatabilties due to Django version, after a lot of changes and code reading i decided to downgrade django, now whats the best version to use?
in 2.0 after a number of code changes to make it compatible i now have issues when migrateing jet
as you cant import url in 2.0
url(r'^jet/', include('jet.urls', 'jet')), , wont work

firstly re_path and include must be imported and the

[2017-12-09 09:07] SalahAdDin commented on #276
@tgk-merci Can you make a PR for `jet_community` fork?

[2017-12-09 09:11] SalahAdDin commented on #269
@abuvanth Is this bug still in `django-jet`?

[2017-12-10 14:08] marc-gist commented on #276
is there a jet_community fork? or when will you officially support Django 2.0?
Thanks

[2017-12-11 18:55] SalahAdDin commented on #276
We haven't yet but you can make a PR.

[2017-12-12 07:18] SalahAdDin commented on #270
Can you debug this issue from browser or console?

[2017-12-12 07:19] SalahAdDin commented on #151
@abdulwahid24 I'm glad to hear it.

[2017-12-12 07:20] SalahAdDin commented on #186
Did you try with our fork?

[2017-12-12 07:41] vimm0 opened #277 "javascript_catalog() views are removed in Django 2.0"
Change import see django 2.0 release [note.](https://docs.djangoproject.com/en/dev/releases/2.0/#deprecated-features-2-0) Also [Translation](https://docs.djangoproject.com/en/2.0/topics/i18n/translation/#module-django.views.i18n)

[2017-12-13 03:15] roytsang commented on #270
When I disable the bundle.js of jet then the items will come out, I think there is a problem in the js file. There is no error in the browser console log.

[2017-12-13 19:15] SalahAdDin commented on #270
JavaScript is not my strong.

[2017-12-15 02:19] Arlington1985 opened #278 "Specific setting for logo"
Please add functionality to add/change custom logo to admin panel

[2017-12-15 09:34] SalahAdDin commented on #278
@Arlington1985 you can do it manually, but we still have problems putting a logo.

[2017-12-18 16:45] Chunmi-Tommy3886 commented on #277
Django 2.0 The javascript_catalog() and json_catalog() views are removed.

[2017-12-19 08:51] ArijitWeird commented on #114
I also got the same problem. Any fix?

[2017-12-19 09:49] ArijitWeird commented on #181
Any fix for this? I also have faced similar issue

[2017-12-19 18:05] SalahAdDin commented on #114
@m-vdb What's about your PR?

[2017-12-19 18:23] SalahAdDin commented on #181
@ArijitWeird did you review our fork?

[2017-12-19 18:51] m-vdb commented on #114
sorry at the time I didn't do one but instead worked on my own fork. It's a while ago so I really don't remember if I even fixed the thing

[2017-12-19 19:09] SalahAdDin commented on #114
@m-vdb, can you share us your fork?

[2017-12-19 19:37] m-vdb commented on #114
https://github.com/m-vdb/django-jet

[2017-12-20 06:40] allenLew1991 opened #279 "InvalidClientSecretsError (how to attach Google account and choose Google Analytics counter to start using widget"
![selection_004](https://user-images.githubusercontent.com/3362015/34194506-f9b240d8-e593-11e7-9129-d6ed087968f8.png)

[2017-12-20 12:16] SalahAdDin commented on #114
@m-vdb Which problems solve your fork?

[2017-12-21 21:42] ArijitWeird commented on #181
No @SalahAdDin  . Actually I just wanted to know is there any compatibility issue of django-jet with jango-import-export ?

[2017-12-22 07:18] mapleflow opened #280 "override list_filter filter.html support multi select not working?"
[code]
list_filter add multiple it seem only change one item, not multiple. or any idea can help it?

[2017-12-23 06:15] MIKNOTAURO commented on #279
You have to create your oauth credentials in google developer console and then set JET_MODULE_GOOGLE_ANALYTICS_CLIENT_SECRETS_FILE in your settings...
it seems that is the wrong path file according to the traceback

[2017-12-23 11:42] SalahAdDin commented on #181
@ArijitWeird I don't know.

[2017-12-24 22:37] Arlington1985 commented on #181
I have same problem

[2017-12-27 10:29] abdulwahid24 commented on #151
@joristdma Any update about your PRs request on [jet-community's django-jet](https://github.com/jet-community/django-jet)

[2017-12-27 12:20] SalahAdDin commented on #151
@joristdma @abdulwahid24 I'm waiting for it.

[2017-12-27 16:21] Olerdrive commented on #161
That bug still occurs in the latest dev

[2017-12-29 07:55] ArijitWeird commented on #181
@Arlington1985 : Have you come with a solution ?
@SalahAdDin : Do you have  compatibility problem of django-jet with django import export.?

[2017-12-29 15:50] Arlington1985 commented on #181
@ArijitWeird, not at all, just reversed all changes to back

[2017-12-29 19:22] SalahAdDin commented on #161
Some one have a fix for it?

[2017-12-29 19:51] SalahAdDin commented on #280
Can you put here a traceback?

[2018-01-02 08:25] mapleflow commented on #280
when i choose one item will immediate search, no chance choose multi one.

[2018-01-02 19:19] SalahAdDin commented on #280
any traceback in the console?

[2018-01-04 09:48] joristdma commented on #151
@abdulwahid24 @SalahAdDin No, I didn't proceed because there doesn't seem to be any fork which is up-to-date and properly maintained?

[2018-01-04 11:04] abdulwahid24 commented on #151
@joristdma I think this fork https://github.com/jet-community/django-jet is up-to-date as @SalahAdDin is maintaining it.

[2018-01-04 13:39] SalahAdDin commented on #151
Yes, i'm trying.

[2018-01-04 13:42] abdulwahid24 commented on #151
@SalahAdDin I would request you to make the latest release because everyone looks at last release on your fork.

[2018-01-05 11:28] marcosfede commented on #277
Is there any ETA on this?

[2018-01-05 13:50] joristdma commented on #151
I'll try to make those changes within 2 weeks or so. @SalahAdDin if you find the time, maybe you can update the repo to the latest version by then.

[2018-01-05 15:36] DEKHTIARJonathan opened #281 "Value Error when trying to access Admin Panel"
Hello dear friends,

I recently decided to install Django-Jet, now that it is available with Django 2.0, I really tried it today.

However, whenever I try to access the admin panel, I obtain the following error:

![image](https://user-images.githubusercontent.com/10923599/34615848-7f009cea-f236-11e7-9cb4-acd2c316ecee.png)

Any advice on how to solve this ?

Thanks a lot,

Jonathan D.

[2018-01-05 17:08] f1nality commented on #277
Fixed in 1.0.7.

[2018-01-05 17:08] #277 closed

[2018-01-08 06:40] yeltsinseal commented on #281
Same here.

Console error:

[code]

[2018-01-08 10:04] DEKHTIARJonathan commented on #281
it doesn't seem to be the same error @yeltsinseal

[2018-01-09 09:36] jonasspott opened #283 "Calendar does not respect FIRST_DAY_OF_WEEK settings"
Calendar always starts on Sunday.
It would be great if the calendar repected the settings in FIRST_DAY_OF_WEEK

[2018-01-09 14:20] HarryLafranc commented on #276
Hey,

This works for me :
`
url(r'^jet/', include(('jet.urls', 'jet'))),  # Django JET URLS
url(r'^jet/dashboard/', include(('jet.dashboard.urls', 'jet-dashboard'))),  # Django JET dashboard URLS
`

[2018-01-09 16:22] SalahAdDin commented on #276
@f1nality Man? PR?

[2018-01-10 10:16] SalahAdDin commented on #272
@f1nality Can you help us here?

[2018-01-13 17:01] tityrus commented on #151
@SalahAdDin @abdulwahid24 I implemented this feature in a new fork from the latest master of django-jet. You can find the repo here: https://github.com/tityrus/django-jet . Master branch. You can find more info in the last few commit messages there. Basically it works like this: in your model, instead of the autocomplete_search_fields, create a method autocomplete_search_query that returns a query

[2018-01-13 19:27] jamiecounsell commented on #196
I think [this](https://github.com/geex-arts/django-jet/blob/master/jet/static/jet/js/src/features/sidebar/popup.js#L93) is the cause. The other way to do it would be to use a `setTimeout` to close it, and then a `clearTimeout` if the mouse hovers over the same link or the popup in a short time.

[2018-01-13 22:03] jamiecounsell commented on #278
@Arlington1985 I did this using the native Django way of overriding `base_site.html`:

[code]

[2018-01-15 05:45] abdulwahid24 commented on #151
@tityrus @SalahAdDin I see Django 2.0 added support for [autocomplete_fields](https://docs.djangoproject.com/en/2.0/ref/contrib/admin/#django.contrib.admin.ModelAdmin.autocomplete_fields)

[2018-01-15 14:24] SalahAdDin commented on #151
@abdulwahid24 Really?

[2018-01-17 08:44] burumbot opened #284 "Unable to add widget"
# Description of the problem/suggestion
I'm unable to add a new widget
![grafik](https://user-images.githubusercontent.com/25263004/35033226-20149622-fb6a-11e7-8d72-983615e3b3e7.png)

# How to reproduce the bug
Fresh Setup with all packages and migrations.
Try to add widget via selector.
Click on widget -> Nothing happens

Console log:
`TypeError: django.jQuery is not a function`

# Versions
djang

[2018-01-17 08:46] DEKHTIARJonathan commented on #276
Any news about the upcoming Django 2.0 support ?

Thanks

[2018-01-17 10:13] f1nality commented on #276
@DEKHTIARJonathan
2.0 support was added in the last version

[2018-01-17 12:50] DEKHTIARJonathan commented on #171
@jangeador I have the exact same issue, do you remember which was causing the issue ?

[2018-01-17 16:05] jangeador commented on #171
@DEKHTIARJonathan  Yes, it was related with an app I created which used a CharField as its primary key.

[2018-01-17 18:28] DEKHTIARJonathan commented on #171
How did you solve it ? Because the users I have use a 'username' as a primary key and not an integer.
This makes django-jet completely fail

[2018-01-18 11:17] em1le commented on #261
@SalahAdDin I can affirm that the bug is still on version 1.10

[2018-01-18 16:38] lzambrano18 commented on #148
Hello, I have the same error using django's MultiPolygonField. Any solution?

`poly_map = models.MultiPolygonField(null=True, blank=False)`

[2018-01-18 20:01] SalahAdDin commented on #261
Really? Have you any idea?

@f1nality Man?

[2018-01-18 20:03] SalahAdDin commented on #269
@burumbot Can you review it with last `django-jet` version?

[2018-01-19 16:01] SalahAdDin commented on #284
@f1nality what's about this?

[2018-01-19 16:49] SalahAdDin commented on #269
@f1nality Release a new version with `django 2.0` compatibilities.

[2018-01-24 17:07] zodman commented on #284
fixed with #285

jquery its on the bundle.min.js if you put another jquery its duplicate jquery code. check https://github.com/geex-arts/django-jet/blob/dev/package.json#L17

[2018-01-24 17:11] zodman commented on #278
@f1nality  must close these issue!

[2018-01-24 17:12] zodman commented on #276
django 2.0 support its merge on commit:

https://github.com/geex-arts/django-jet/commit/7e6aaf6f43f3f9f2aed37433e2168f94b8263435

@f1nality  close this issue

[2018-01-24 17:28] zodman commented on #161
EY ey!! im investing this issue....
First:

at this moment the django-jet@dev its broken with django.jQuery because its not defined.
issues related this:
https://github.com/geex-arts/django-jet/issues/284
https://github.com/geex-arts/django-jet/pull/229

that was intruduce by this commit:  https://github.com/geex-arts/django-jet/commit/a0d8b503af92eac9a3d1970b70212872f6b23149#diff-00db1b427cdf9ae5

[2018-01-24 17:29] zodman commented on #161
@Ismael-VC  @SalahAdDin  you are the most involved in django-jet checking the issues and PR plz check this and give me the approved  with +1

[2018-01-24 19:20] SalahAdDin commented on #161
@zodman, which one?

[2018-01-24 22:22] zodman commented on #161
@SalahAdDin   this comment  https://github.com/geex-arts/django-jet/issues/161#issuecomment-360210596

[2018-01-25 15:05] SalahAdDin commented on #196
@f1nality Hey!

[2018-01-26 06:05] mapleflow commented on #280
no error, i choose another method.

[2018-01-26 06:05] #280 closed

[2018-01-26 06:09] mapleflow opened #287 "django action_form choices field cached?"
[code]
when i add user it will not display in userlist, but if i restart ./mange.py runserver, it will show.

is it cached?

[2018-01-26 07:06] mapleflow commented on #287
userlist must be init.

[code]

[2018-01-26 07:06] #287 closed

[2018-01-26 19:01] SalahAdDin commented on #280
which one?

[2018-01-26 19:09] SalahAdDin commented on #148
Which is the traceback from this bug?

[2018-01-27 22:29] zvolsky commented on #156
I want confirm same behaviour and same solution as ZeusNabartey, when you try follow the basic django-jet documentation: dashboard,py should be placed together with manage.py, not together with settings.py.

[2018-01-27 22:31] SalahAdDin commented on #156
@zvolsky Can you put this in the docs? And, is it the same for production?

[2018-01-28 00:15] zvolsky commented on #156
I made the proposal through jet.readthedocs.io, which have created PR 
https://github.com/geex-arts/django-jet/pull/288

I have no production server for this, it was just learning of the dashboard
use.

Best regards,

Mirek

---------- Původní e-mail ----------
Od: José Luis <notifications@github.com>
Komu: geex-arts/django-jet <django-jet@noreply.github.com>
Datum: 27. 1. 2018 23:31:36
Předmět: R

[2018-01-31 13:36] JorgeSevilla opened #289 "Page not found (404)"
Hi, I make download of the project later, I try to run the project and I have the next issue when try to surf of the dashboard.
Using the URLconf defined in jet.tests.urls, Django tried these URL patterns, in this order:
url: http://127.0.0.1:8000/admin/jet
    ^jet/
    ^jet/dashboard/
    ^admin/doc/
    ^admin/ ^$ [name='index']
    ^admin/ ^login/$ [name='login']
    ^admin/ ^logout/$ [name='l

[2018-01-31 18:05] zodman commented on #289
follow the install instructions

[2018-01-31 18:12] JorgeSevilla commented on #289
Thanks for the answer.

2018-01-31 16:05 GMT-02:00 Andres Vargas <notifications@github.com>:

[2018-01-31 18:43] zodman commented on #289
@f1nality  close the issue

[2018-01-31 18:44] zodman commented on #283
are you had some proof screenshot or something ?

[2018-01-31 18:45] zodman commented on #279
read the docs .. https://jet.readthedocs.io/en/latest/dashboard_modules.html#extra-installation

@f1nality  close the issue

[2018-02-02 18:32] carlosfvieira opened #290 "Does django jet support Nested inlines?"

[2018-02-02 19:01] zodman commented on #290
noup!

[2018-02-02 19:10] #290 closed

[2018-02-05 11:30] SalahAdDin commented on #290
@carlosfvieira, pr welcome.

[2018-02-06 11:26] emukans commented on #161
I added custom select box to dashboard header and found this issue. This is what I did.

1. Applied @arbak fix. In `admin/base.html`.
2. Then I've encountered "Uncaught RangeError: Maximum call stack size exceeded" issue.

Solution using JQuery (Could be done without it as well, of course). Issue happens because of infinite recursive function call. Just select your select box and on `change` event

[2018-02-06 16:22] SalahAdDin commented on #161
@emukans, @zodman, yes, this is a common error, if I'm not mistaken, that's why these code is using here.

[2018-02-06 16:37] bkfox commented on #241
I was not available before -- but know am to work on this issue. I propose to use a hooks system in order to render sidebar -- for this I've extracted hooks impl of a project into an external package `django-foxhooks`. Later, this library could also be used in other situations in order to have customizable admin ui.

If your okay with that, I'll start to work on it.

[2018-02-06 17:01] Jromero97 commented on #62
Could you give me the exactly name of the package? I have the same error but I don't know if that package is the solution to my problem.

[2018-02-06 18:36] SalahAdDin commented on #241
@bkfox, can you work without external libraries?

[2018-02-07 15:22] bkfox commented on #241
Making sidebar customizable is to follow the purpose of allowing developers that uses django-jet to have custom admin interfaces corresponding to their needs (that includes end-user dashboard/admin interface).

Template overriding permits only one application per `{% block %}` extend the sidebar (it can also use `{{ block.parent }}` but still is a quiete limited feature). To better respond to our

[2018-02-08 14:52] nias-r opened #291 "Error class not always added to tabs in changeform"
Hi,

If a fieldset contains two fields on the same row, and there is a validation error for one (or both) of those fields, then the error class is not added to the tab.

# Example

Fieldsets in the model admin class:
[code]

If `field_one` or `field_two` fails validation, the error class is not added to the tab, as can be seen in the second screenshot:

![screen shot 2018-02-08 at 14 27 45](https:

[2018-02-08 23:34] mailbackwards commented on #291
@nias-r Adding to this, forms' `non_field_errors` are not triggering this tab either-- for instance, a custom ValidationError on a m2m fieldset. I see the error but not on the tab itself. I think I have this fixed by adding `$contentWrapper.find('.errorlist').length` to your chain of error checks.

[2018-02-09 06:47] zodman commented on #291
jums lets me check the patch ...

[2018-02-10 20:33] SalahAdDin commented on #291
@f1nality.

[2018-02-13 20:36] Jromero97 opened #294 "Custom get_app_list() with Django JET"
Hey! I'm looking for a way to show two list of apps installed in my django project SaaS, but with django-jet only shows me the apps that I registered before, so can I modify this with my custom admin site and a get_app_list() method that I wrote?

Thanks for your help!

[2018-02-14 13:12] gabofer82 opened #295 "Fake forms"
Hi:
django-jet is a good thing.

Exist any way for create a composite object with only one form?
For example:

I have 3 models: auth.models.user, custom.models.profiletype1, custom.models.profiletype2
profiletype1 and profiletype2 have a OneToOne field to user model.

I want edit the two models: user and profiletype1 OR user and profiletype2 in only one form in admin.

Exist a django-jet configura

[2018-02-14 16:46] SalahAdDin commented on #295
Did you see `django admin` inline forms?

[2018-02-14 16:47] SalahAdDin commented on #294
It depends of `django admin`, i think it's outside of `django-jet` scope.

[2018-02-14 17:30] zodman commented on #295
django admin inlines search at the django documentation it is very complex you must overwrite the admin/app_name/change_form.html or create a new admin view.

tag as this as question and close.  its not a issue.

[2018-02-14 17:54] zodman commented on #291
@mailbackwards  check the comments on the PR plz and correct if i wrong

[2018-02-14 19:18] Jromero97 commented on #294
Well, trying to separate list of apps, with my own get_app_list() django-jet overrides my method with own and just send me original app list, without scope (if is a tenant or main domain), we had to override the JET_SIDE_MENU_ITEMS options to get this apps dinamically...

[2018-02-14 20:34] SalahAdDin commented on #295
@f1nality

[2018-02-14 20:37] SalahAdDin commented on #294
Oh, there is a `PR` about it.

[2018-02-14 20:46] Jromero97 commented on #294
Yeah, I saw before that PR but is not adecuate to be scalated.. So we had to did that manually..

[2018-02-14 21:32] gabofer82 commented on #295
Django admin inlines not work because is a reversed relation. But in django-jet the forms view separately, but must be like a single form...

[2018-02-15 09:40] SalahAdDin commented on #294
Can you make a PR?

[2018-02-21 08:51] nnamdiib opened #297 "Widgets on Homepage"
Hello,

I deleted all the default widgets on my homepage (Application Models, Users and Authorization, Recent Actions, etc), and also my Analytics widgets.

Now I can easily re-add my Analytics widgets from the drop-down menu in the top-right corner, but how do I re-add the rest? I can't seem to find a way.
![blank](https://user-images.githubusercontent.com/17129594/36470902-d4244ebc-16ec-11e8-8c9

[2018-02-26 12:38] tboulogne opened #298 "widget on related field"
Hello,

I face a little problem and i'd like some help please.
I use a custom form with crispy-form and  override the widget field to render the '+' button(related field) with :
[code]

Works great, except it's open a popup :-(. How could i get same behaviour than other admin form(Ajax, Back button...).

Thanks for help.

Regards,

Thierry

[2018-02-26 17:44] zodman opened #299 "block nav-global not works"
https://github.com/geex-arts/django-jet/blob/dev/jet/templates/admin/base.html#L195

must be "block nav_global"

[2018-02-26 19:33] Jromero97 opened #300 "I can't see boolean fields"
When I put boolean fields as readonly_fields, in the admin can't see them... Neither in list_display or fieldsets...

[2018-02-26 19:38] #294 closed

[2018-02-27 17:29] SalahAdDin commented on #294
Don't forget make a PR.

[2018-02-27 19:17] allancharlys commented on #254
Alguém conseguiu resolver? estou com o mesmo problema..

updateRelatedObjectLinks error at init and when selecting related obj

[2018-03-01 00:13] zodman commented on #254
in jet  django.jQuery didnt exists

[2018-03-01 00:15] zodman commented on #254
and django 1.9 its not supported! close the issue ..

[2018-03-01 15:41] dfalling opened #302 "Error class not added to tabs with nested fields"
This may be related to #291.

If you have errors in nested fields in an inline, the tab doesn't show the error.

[code]

Errors in `headline`, `author`, and `order` will error like normal with an indicator and message, but the  tab doesn't indicate the error.  Errors in the `body` will highlight the tab.

[2018-03-01 21:33] stitch opened #304 "Drag to select (feature request)"
It would be very nice to be able to select record like they are files on the desktop: hold the mouse button down and select records.

Clicking is a bit hard :')
![image](https://user-images.githubusercontent.com/333846/36870468-7d96ff5e-1d9f-11e8-9b15-f330d5a11b2c.png)

[2018-03-04 22:38] hervest opened #305 "How to desactivate widget"
I want to desactivate some widget like "latest django news"

[2018-03-07 14:45] Barukimang commented on #297
Try refresh button next to the 'add widget' button

[2018-03-07 22:50] #254 closed

[2018-03-08 11:42] SalahAdDin commented on #254
Support from???

[2018-03-09 14:43] srTinto80 opened #306 "Empty menu item if user has not permissions on model"
With configuration like this:

[code]

For staff user, with permission on catalog.categoria model, the menu appear as
![schermata 2018-03-09 alle 15 32 13](https://user-images.githubusercontent.com/6593367/37212609-c6b95874-23af-11e8-890e-4efddd2dfb0d.png)

For staff user, WITHOUT permission on catalog.categoria model, the menu appear as:
![schermata 2018-03-09 alle 15 32 25](https://user-images.g

[2018-03-11 09:56] SalahAdDin commented on #304
PR welcome.

[2018-03-11 10:01] #160 closed

[2018-03-12 12:56] HawiCaesar commented on #39
@f1nality , I have followed the instruction on the config file doc. I have implemented the file watchers for scss on pycharm but the browser still does not show the default colors I specify...What could I not have done?

[2018-03-13 13:10] m-vdb commented on #242
I am running into the same issue. Any chances for #243 to get merged?

[2018-03-13 18:16] stitch opened #308 "How to edit reverse many to many fields?"
Hi,

In the following case, i'm looking how to add the reverse edit form. I came a long way, but i'm missing a few things...

Model:
[code]
This results in an awesome edit field in Url:
![image](https://user-images.githubusercontent.com/333846/37360263-022ff30c-26f0-11e8-8c24-5f870d5abf06.png)

The other way around seems impossible: which is a shame, since the input really works well. It's also un

[2018-03-14 11:53] SalahAdDin commented on #242
@f1nality Man!

[2018-03-19 11:03] jonasspott commented on #283
Sorry for the late reply - here you go:

<img width="882" alt="skaermbillede 2018-03-19 kl 12 01 26" src="https://user-images.githubusercontent.com/3172302/37591934-676669be-2b6d-11e8-8724-ae82e46299e9.png">

[2018-03-21 09:48] andreamanni opened #310 "Google analytics widget"
Hello,
I have a problem with Google Analytics widgets. I've setup them as reported in the documentation. However, in the "counter" field I have "counters loading failed" as in the image below. Which can be the problem? Thanks

<img width="994" alt="schermata 2018-03-20 alle 17 10 55" src="https://user-images.githubusercontent.com/37616048/37703064-b4a24468-2cf4-11e8-8513-f815fd120fb2.png">

[2018-03-23 08:50] LouiseNiyigena commented on #310
I have a problem with Google Analytics widgets too. I can't revoke access and every time I try I receive redirect_uris mismatch error. How are access and counter set ? Any help would be appreciated.

[2018-03-25 19:54] brianbola90 commented on #236
Im still seeing this issue on the latest version is there a n=known fix for this.
having to revoke and grant all widgets isnt fun

[2018-03-25 22:37] SalahAdDin commented on #236
@f1nality

[2018-04-03 14:54] lauritzen opened #313 "Wrong spelling of template variable"
Since I've got the template options settings set to `'string_if_invalid': "<Couldn't render variable '%s'>"` I'm seeing an error that `'module.pre_contenta'` isn't found. It seems like it's a simple typo in the template:

https://github.com/geex-arts/django-jet/blob/552191c5be551741b3349aa104c92435702f62e5/jet/dashboard/templates/jet.dashboard/module.html#L31

[2018-04-04 00:05] diegogslomp opened #314 "Can't logout from admin site in responsive mode"
Hi!

How can I logout from admin site using a smartphone? The option to logout only apears at pc. Thank you in advice!

[2018-04-04 20:14] jgoodleaf opened #315 "Overriding CSS"
I have a custom CSS reference in the Media inner class for a ModelAdmin. I notice that the Jet _changeform.scss appears to override it. (I don't want list-style: None to appear in my markdown preview.)

Is there something I need to change or add in order to get my CSS to appear last (viz., override anything else)?

Without actually changing the code in Jet itself I mean...

[2018-04-04 22:29] zodman commented on #254
https://www.djangoproject.com/download/#supported-versions

[2018-04-06 11:26] SalahAdDin commented on #90
I made a PR but... @f1nality

[2018-04-06 12:13] SalahAdDin commented on #314
Are you sure? i can not see this problem in the demo page.
@f1nality

[2018-04-06 12:42] diegogslomp commented on #314
The admin Dropdown menu doesn't show from a smaller screen.

![screenshot_20180406_093838](https://user-images.githubusercontent.com/3443988/38421772-aaf9f208-397e-11e8-8e51-e20c466583a4.png)
![screenshot_20180406_093926](https://user-images.githubusercontent.com/3443988/38421774-ae0deac6-397e-11e8-86f7-a541acc09913.png)

[2018-04-06 12:56] diegogslomp commented on #314
Thankyou for the feedback! The top left corner button shows the menu, and the top right button show the widgets, no options to logout, at least from here.

![screenshot_20180406_095302](https://user-images.githubusercontent.com/3443988/38422331-b73dbf20-3980-11e8-936d-0b4942d7b94d.png)
![screenshot_20180406_095334](https://user-images.githubusercontent.com/3443988/38422326-b2953412-3980-11e8-846f-

[2018-04-06 13:04] SalahAdDin commented on #314
@f1nality You forgot add it.

[2018-04-08 01:04] gagiks opened #318 "Changing Language doesn't change the titles of custom children"
I have a web site with supports 3 languages and i faced and issue that when I load page first time on say language "Armenian", then it correctly loads all titles such as "Applications" in Armenian, but then when I change the language to English, the titles still stay in Armenian

[2018-04-11 06:46] cyberbudy opened #319 "Django 2 autocomplete_fields"
Django 2 added a new feature - `autocomplete_fields` but it's not displayed properly in the jet admin.

![default](https://user-images.githubusercontent.com/10235359/38600540-2df3c4f8-3d6d-11e8-99ae-98c76ce02a79.png)

[2018-04-12 07:28] mapleflow commented on #280
use jquery + apis replace django multi choices, it is hard to express in django.

[2018-04-12 10:53] SalahAdDin commented on #257
@f1nality

[2018-04-13 17:58] Jromero97 opened #321 "How to render a view in widget"
Hi, I'm using django-jet since about three months, I need some help to create a new widget that render a view with get request in there.

Somebody can help me, I'll apprieciate

[2018-04-16 18:26] Jromero97 opened #322 "Add custom view of admin in Jet Menu"
Hi, I added some views in the django admin, I wanna include this into Jet Menu and inherate the admin/base from Jet in the templates but I don't know how to do that.

[2018-04-16 19:40] aldarund opened #323 "Dashboard doesnt work with custom user model with uuid primary key"
On login it will just throw error.
Because UserDashboardModule expect user to be integer and only integer.
https://github.com/geex-arts/django-jet/blob/dev/jet/dashboard/models.py#L14

So it tries to make integer from uuid and fails with outofrange error

[2018-04-17 09:44] dhouibkhouloud commented on #180
please help me to résolve this problem
 File "manage.py", line 22, in <module>
    execute_from_command_line(sys.argv)
  File "C:\Bitnami\djangostack-1.11.6-0\apps\django\django-1.11.6-py2.7.egg\django\core\management\__init__.py", line 364, in execute_from_command_line
    utility.execute()
  File "C:\Bitnami\djangostack-1.11.6-0\apps\django\django-1.11.6-py2.7.egg\django\core\management\__init__

[2018-04-17 11:41] SalahAdDin commented on #180
@f1nality

[2018-04-18 08:32] SalahAdDin commented on #232
A user solved it using `JQUERY_URL = False` to the settings.

[2018-04-18 08:47] SalahAdDin commented on #322
@Jromero97 It have to see with `django-admin` itself.

[2018-04-19 18:24] DevAbhinav2073 opened #325 "forms.MultipleChoiceField doesn't work as it does in default admin site"
When a use django default admin site, I get the desired MultiChoiceField
![default admin](https://user-images.githubusercontent.com/22144491/39010646-f35f9182-442e-11e8-8ea4-9114e295d6b6.png)

but when i switch to django-jet admin site I get something like below, none of the option are selectable
![django-jet](https://user-images.githubusercontent.com/22144491/39010685-17032586-442f-11e8-83d6-4aa7

[2018-04-21 04:32] gslaboch commented on #148
I had the same Issue on Django  1.11. I fixed it by modifying template "templates\gis\admin\openlayers.html":

Changed:

[code]
With:

[code]

[2018-04-21 20:47] SalahAdDin commented on #148
@gslaboch It is a problem with this package or with `django`?

[2018-04-25 02:40] gslaboch commented on #148
I think its a problem django.contrib.gis, but it only appears when working together with django-jet. The original code just makes "{{ module }}.init(); ",  assuming document is fully loaded

[2018-04-25 08:13] SalahAdDin commented on #148
@gslaboch can you make a pull request here?

[2018-04-26 17:27] Jromero97 commented on #240
Hi! I have an issue, how can add, view not related to model with JET_SIDE_MENU_ITEMS?

[2018-04-28 22:31] ramaprashanth commented on #195
@rickydunlop  @SalahAdDin It will be great if you guys can merge it. Let me know if you need any help.

[2018-04-30 11:00] SalahAdDin commented on #195
We have not control here, only in the other repository.

[2018-05-04 18:27] Jromero97 opened #328 "How edit post if I have a form in widget"
I have a form in widget, but my form have custom post request in his post() method, how can enable this in the widget, when I press submit it only refresh the page without make the request.

[2018-05-09 14:48] paulorsbrito commented on #21
It's still happenning today. Regression? I can't find a workaround.

[2018-05-09 18:17] SalahAdDin commented on #21
What? @f1nality

[2018-05-14 14:56] ilubnon commented on #325
Same problem here

[2018-05-14 16:29] SalahAdDin commented on #325
Can you send us trace back?

[2018-05-16 08:29] xor0x opened #330 "can't migrate jet please help"
[code]
[code]
[code]

[2018-05-16 11:19] SalahAdDin commented on #330
@xor0x What?

[2018-05-24 19:12] SalahAdDin commented on #249
@dmnunez1993  did you solve it?

[2018-05-25 22:30] evandroao commented on #249
I think I find the problem, jet is doing this:
$('.inline-group').on('inline-group-row:added', function(e, $inlineItem) {
            $inlineItem.find('.form-row').each(function() {
                self.initLinksForRow($(this));
            });
        });

In django 2 I supose the right is this:
$(document).on('formset:added', function(event, $row, formsetName) {
        if (formsetName == 'autho

[2018-05-26 20:13] SalahAdDin commented on #249
@evandroo, which library?

[2018-05-27 01:59] SalahAdDin commented on #249
@f1nality that is a question for you.

[2018-05-28 01:08] evandroao commented on #249
@SalahAdDin, sorry man, I dont undestand. I talking about django-jet, when you try add inlines,

[2018-05-28 02:54] solvire commented on #90
Would be nice to have this one fixed. Should be easy enough given there is an open PR on it.

[2018-05-28 03:35] SalahAdDin commented on #90
I think there is more than one PR but @f1nality does not merge it.

[2018-05-28 03:37] SalahAdDin commented on #249
On `django-jet`, i got it, but it @f1nality depends.

[2018-05-28 03:48] solvire commented on #90
It should be a fairly simple fix...  In my app I renamed my dashboard using something similar to what you did in your PR. Thanks for that.

If he sees this thread - I purchased a commercial license if that helps with motivation. :)

[2018-05-28 09:17] SalahAdDin commented on #90
@solvire I did the PR, yes, but @f1nality did never merge it.

[2018-05-29 20:56] SalahAdDin commented on #330
did you put it in the correct order in `INSTALL_APPS`?

[2018-05-30 11:05] dhavalsavalia commented on #330
Yes, correct order. On top.

On Wed, May 30, 2018 at 2:26 AM José Luis <notifications@github.com> wrote:

--
Best,

[image: photo]
*Dhaval Savalia*
Under Graduate Student, GEC - Rajkot
+91 7405505665 <javascript:void(0);> | +91 7016933756 <javascript:void(0);>
| hello@dhavalsavalia.me | https://dhavalsavalia.me | Skype: dhaval.savalia
<http://facebook.com/DhavalJSavalia>
<http://us.linkedin.com/in

[2018-05-30 13:16] SalahAdDin commented on #330
review the `apps.py` in the module path.

[2018-06-01 15:23] gslaboch opened #331 "Ajax ModelChoiceField doesn't allow to select an ampty value"
Even when the field is created with blank=True, null=True, ModelChoiceField with ajax enabled doesn't allow to remove the selection.

[2018-06-02 16:34] solvire commented on #300
Have you tried that as normal (not readonly) fields?

I do not see boolean fields showing up in the list display.

[2018-06-04 18:38] AmrAnwar opened #332 "CheckboxInput in a MultiValueField doesn't appear in the admin page"
after only adding the **Django-Jet** to my project I found that, CheckboxInput in a MultiValueField  doesn't appear in the admin page although it was working well in the normal admin page.

----

### the MultiValueField field code
[code]
## the result in the jet admin page looks like.

![image](https://user-images.githubusercontent.com/25433336/40934823-b9124c2a-683e-11e8-8943-0dab55111821.png)

-

[2018-06-04 18:44] AmrAnwar commented on #325
same here

[2018-06-05 01:31] DevAbhinav2073 commented on #325
Well, I figured out the problem and found a workaround to this problem.

[2018-06-05 01:35] AmrAnwar commented on #325
@DevAbhinav2073  did you get it ?

[2018-06-05 02:06] DevAbhinav2073 commented on #325
Well, I figured out that the problem was with the css file. The display property of checkbox input types was set to 'none' which created the problem. When I removed the display: none property the checkbox appeared.
The image before removing 'display: none':
![before edit](https://user-images.githubusercontent.com/22144491/40950853-309e1404-6894-11e8-834d-e96856b425c3.png)

The image after removing

[2018-06-05 03:39] AmrAnwar commented on #325
@DevAbhinav2073  thanks for your replay, but please can you tell me how to add this new CSS file to my code? I know that I can add specific template file only to the field

[2018-06-05 05:10] SalahAdDin commented on #325
PR welcome.

@f1nality

[2018-06-05 08:44] DevAbhinav2073 commented on #325
Here is the step by step procedure,
**step 1**
run `python manage.py collectstatic`
This will import all the static files of the admin dashboard to you `STATIC_ROOT` folder.
If you've already done just goto next step.

**step 2**
make a forms.css file in your-static-folder/admin/css/ and add the following code in it and save it

[code]
**step 3**
Next, make a folder named "admin" in the project's

[2018-06-05 12:04] SalahAdDin commented on #325
@DevAbhinav2073  you can add that change in the static files and make a PR :dancer:

[2018-06-06 12:26] SalahAdDin commented on #332
Did you see in the issues? I think there are one similar to yours.

[2018-06-06 21:32] MacKey-255 opened #335 "Error CSS Detect"
Hello, I have seen several errors in the CSS and I am going to send you the arrangements that I made so that everything was working. SAlu2s
[Django-jet.zip](https://github.com/geex-arts/django-jet/files/2078230/Django-jet.zip)

[2018-06-07 01:15] gotounix commented on #319
Also conflict with django-autocomplete-light.

[2018-06-07 14:14] AmrAnwar commented on #332
@SalahAdDin  yes you are right, you can close it

[2018-06-07 22:10] zodman commented on #335
make a PR plz!

[2018-06-07 22:11] zodman commented on #330
jet isn't installed correctly

[2018-06-08 05:10] SalahAdDin commented on #332
@AmrAnwar, i cannot, only you or repo owner can XD

[2018-06-08 06:51] SalahAdDin commented on #335
@MacKey-255 Don't forget modify `sass` files.

[2018-06-08 06:52] SalahAdDin commented on #319
and with `django-smart-selects`.

[2018-06-08 11:38] danilke commented on #300
+1

[2018-06-08 12:44] bdallard opened #336 "A server error occurred. Please contact the administrator."
Hi,
I followed step by step the installation guide but when I run the server on http://127.0.0.1:8000/admin/login/?next=/admin/ I have a single message display on the page "A server error occurred.  Please contact the administrator." By the way I have a console error "Site matching query does not exist GET /admin/login/?next=/admin/ HTTP/1.1" 500 59
What can I do ?

[2018-06-08 19:21] #332 closed

[2018-06-08 19:33] Jromero97 commented on #300
I solve this issue including my styles.css with the following code

`input[type=checkbox] {
    display: block;
}`

This error is due in jet-css they have `display: none;` in this property.

[2018-06-08 19:34] #300 closed

[2018-06-10 01:49] solvire commented on #168
Any update on fixing the css? I'm not great with CSS so if there is a work around that would be great. :)

[2018-06-10 01:58] SalahAdDin commented on #168
@rl-yugandhar , @solvire all pull request are welcome.

[2018-06-10 02:39] SalahAdDin commented on #300
@Jromero97 can you do a pr?

[2018-06-10 02:43] SalahAdDin commented on #336
@bdallard i think it is a problem with site middleware, review it, a fast fix is put `SITE_ID=1` in your settings.

[2018-06-10 14:56] bdallard commented on #336
Thanks @SalahAdDin !

[2018-06-20 19:49] dillonreyna commented on #289
Django 2.0

Followed the install instructions - issue persists.

[code]

[code]

[code]

[2018-06-21 05:13] SalahAdDin commented on #289
I had no problems with `django` 2.0.

[2018-06-23 20:45] ferdynice commented on #260
Duplicate of https://github.com/geex-arts/django-jet/issues/235

I think this ping.gif should be removed.

[2018-06-28 07:54] neilharia7 commented on #280
@mapleflow  can you explain in detail about the approach you used?

[2018-06-29 20:56] chattingtoofast opened #338 "counters loading failed (Google Metrika)"
Not copy of issue #236
![2018-06-29 21 57 59](https://user-images.githubusercontent.com/37221464/42111106-ec34092a-7beb-11e8-9967-01d98494383c.png)
Google Analytics API is enabled
![2018-06-29 22 31 47](https://user-images.githubusercontent.com/37221464/42111234-60b2aefa-7bec-11e8-988c-157957950066.png)
Here's the main Google panel, with 24 request and all of them are related to errors.
![2018-06-

[2018-06-29 22:20] Skyline404 commented on #338
такая же проблема ребят (

[2018-07-02 05:34] SalahAdDin commented on #338
what?

[2018-07-14 21:01] gabor-boros commented on #198
@SalahAdDin, sorry for the late reply. I did not recognized that I’m mentioned here. To be honest I do not remember why I said that this was not a perfect solution.

@mjrulesamrat, is my solution worked for you as well? Can this issue be closed?

[2018-07-15 14:01] mjrulesamrat commented on #198
I can not be sure if the solution is working or not as It's been a long time and I might have done some hot-fix at the needed time.
@gabor-boros Thanks for your time and help. @SalahAdDin Thanks to you as well for the beautiful third-party support section in the docs.
@SalahAdDin Please comment on closing this issue. You were more active here than I ever was.

[2018-07-19 17:16] ohiaia opened #339 "link in README is broken"
you may want to update/remove the link to

as it is broken and bring to GoDaddy.

One of the most hated provider in the world! :dancing_men:
Cheers

[2018-07-20 13:15] tehdoorsareopen commented on #261
Here is the solution for Django 2.0 -> rewriting checkbox_option template

**admin.py**

[code]

**admin/forms/widgets/checkbox_option.html**

`{% if wrap_label %}{% include "django/forms/widgets/input.html" %}<label class="vCheckboxLabel" {% if widget.attrs.id %} for="{{ widget.attrs.id }}"{% endif %}>{% endif %}{% if wrap_label %} {{ widget.label }}</label>{% endif %}`

[2018-07-20 15:56] zodman commented on #338
i had configurated that and it works like charm!

[2018-07-21 11:41] SalahAdDin commented on #338
@zodman How?

[2018-07-23 06:00] SalahAdDin commented on #339
@f1nality

[2018-07-25 18:52] mykljohn commented on #325
I got @DevAbhinav2073 fix to work, but the css as this:
[code]

[2018-07-30 16:14] stavlocker opened #341 "Demo is broken"
Whenever trying to log into the [demo](http://demo.jet.geex-arts.com/admin/login/?next=/admin/), you get a server error (500).

[2018-08-01 05:41] SalahAdDin commented on #341
@f1nality

[2018-08-01 16:12] adriadrop commented on #289
Have the same problem :(  django 2.1

[2018-08-01 16:19] adriadrop commented on #108
Think it should be added to DOCS that if you have some template overrides it wont work. Some people will first do some overrides and then install this "theme". I did it also like that :)

[2018-08-02 08:47] socrec opened #342 "utils.py -> get_model_queryset() missing 1 required positional argument: 'sortable_by'"
This is an incompatible error when you install `django-jet==1.0.7` with `Django==2.1`

Traceback:

[2018-08-02 08:58] socrec commented on #342
To fix this error, change `jet/utils.py` line `220` to `223` like this

`cl = ChangeList(request, model, list_display, list_display_links, list_filter, model_admin.date_hierarchy, search_fields, list_select_related, model_admin.list_per_page, model_admin.list_max_show_all, model_admin.list_editable, model_admin, model_admin.sortable_by)`

Because from 2.1, Django `ChangeList` require `sortable_by`

[2018-08-09 15:51] tumb1er opened #344 "Default GroupAdmin is unusable"
![image](https://user-images.githubusercontent.com/1587241/43910264-02511c50-9c05-11e8-8b53-aa693bd6d910.png)
I have a problem with removing "delete" permissions from this list.
**filter_horizontal** in default admin solves this problem, but it doesn't show on django-jet admin.
Django==2.0.8
django-jet==1.0.7

What else could I do with it?

[2018-08-10 12:46] gabrielponto commented on #161
I was having this problem with custom pages. To fix, I added two javascript files to `extrahead` section on template:

[code]

Ps: Adding only the `jquery.init.js` file generate the error `Uncaught RangeError: Maximum call stack size exceeded`. So I added `jquery.js` on top and all works. These files comes from [Django code base](https://github.com/django/django/blob/3c447b108ac70757001171f7a4791f

[2018-08-10 13:41] SalahAdDin commented on #161
@gabrielponto Ok, but, what is the problem behind this bug?

[2018-08-10 19:38] renankof commented on #232
It works

jet.jQuery('select').select2({theme: 'jet', width: 'auto'});

[2018-08-11 21:59] rense commented on #342
Ah, I see we've been fixing the same thing. Sorry for not looking here first. Having said that, my fix (#345) is backwards-compatible, this one will raise an exception with Django < 2.1.

[2018-08-11 22:05] rense opened #346 "Travis build configuration is outdated, Python 3.2 should be removed"
Your Travis build configuration is outdated; Python 3.2 should be removed.
While builing PyYAML wheel: #error Cython requires Python 2.6+ or Python 3.3+.

![image](https://user-images.githubusercontent.com/264562/43996465-53c0855c-9dc3-11e8-8e54-8e8473bb69cf.png)

[2018-08-12 16:15] socrec commented on #342
Please apply better fix in #345

[2018-08-12 16:15] #342 closed

[2018-08-16 14:48] alfredrumss commented on #342
@socrec  How can I override `jet/utils.py ` file to add what you say,  I must change?

Thank you.

[2018-08-16 17:10] marknguyenld commented on #342
![image](https://user-images.githubusercontent.com/42003323/44222941-5d834480-a1b0-11e8-99bb-c6d1aad63036.png)
@alfredrumss
I'm not sure if this is a recommended method or best practice, since I'm new to django (my background is PHP), but this is what I did while we have to wait for geex-arts to update the bug fix.
Basically, jet is just an app like every other apps that we create, so, I simply ju

[2018-08-16 17:12] socrec commented on #342
![image](https://user-images.githubusercontent.com/42003323/44222941-5d834480-a1b0-11e8-99bb-c6d1aad63036.png)
@alfredrumss
I'm not sure if this is a recommended method or best practice, since I'm new to django (my background is PHP), but this is what I did while we have to wait for geex-arts to update the bug fix.
Basically, jet is just an app like every other apps that we create, so, I simply ju

[2018-08-23 13:31] DmitryGerasimov commented on #40
Hi,

I also ran into this issue. Here is my code of template for a multi-select filter:
[code]

It works great without "django-jet". However, when used "django-jet" I get an empty select:
![image](https://user-images.githubusercontent.com/2083647/44528142-7a100700-a6f1-11e8-8b40-06f162237ccd.png)

As I understand it, this is due to this code:
https://github.com/geex-arts/django-jet/blob/dev/jet/st

[2018-08-24 01:46] edmenendez commented on #244
Good solution @xtornasol512 . I've made it a bit more generic so you can include it in any inline.

[code]

[2018-08-27 07:56] SalahAdDin commented on #244
can you make a PR to including this in `django-jet`?

[2018-08-27 07:58] SalahAdDin commented on #40
@f1nality

[2018-08-28 06:37] charloai opened #349 "__init__() missing 1 required positional argument: 'sortable_by'"
I find a bug.
In jet/utils.py line 223
![wrong](https://user-images.githubusercontent.com/34230425/44704944-bb2c6080-aacf-11e8-9287-8c940ffbfb4d.png)
==============
this is true.
![true](https://user-images.githubusercontent.com/34230425/44704972-d0a18a80-aacf-11e8-9440-7172438fb867.png)

[2018-08-28 07:25] leonchan0810 opened #350 "permission"

[2018-08-30 19:31] z4nD4R commented on #349
confirmed the bug and also the solution. +1 @charloai

[2018-08-31 14:33] askanymark commented on #349
I'll also jump in and confirm @charloai is right, this is the solution.

[2018-09-05 03:43] nikolas310 opened #351 "Google analytics API request failed"
Successfully setup django-jet and everything working. But after few hours google analytics data is not showing. And displaying API request failed.
Using django 2.0(django 2.1 has compatibility issue) with latest django-jet.

[2018-09-05 06:39] nikolas310 opened #352 "Django 2.1 Fix render() got an unexpected keyword argument 'renderer'"
On `google_analytics.py` 145 no line:
Please change

`def render(self, name, value, attrs=None):`

to

`def render(self, name, value, attrs=None, renderer=None):`

[2018-09-05 06:45] #352 closed

[2018-09-05 10:27] Synkied commented on #349
I'll jump in too, and confirm the bug and the solution !

[2018-09-06 03:44] yaoyonstudio commented on #349
I got the same issue

[2018-09-06 06:08] SalahAdDin commented on #349
@charloai Can you make a pull request?

[2018-09-06 06:10] SalahAdDin commented on #352
@nikolas310 you did a new pull request, isn't it?

[2018-09-06 06:13] SalahAdDin commented on #310
you must review your `google-analytics` version.

[2018-09-06 07:41] rense commented on #349
https://github.com/geex-arts/django-jet/pull/345

[2018-09-06 17:53] nikolas310 commented on #352
Yes bro.

[2018-09-07 19:19] nikolas310 commented on #351
Dont know, why dev is not merging security fixes quickly.
those who are using django 2.1.1 or below
use
pip install git+https://github.com/nikolas310/django-jet.git
**bug fixes:**
-> google analytics api request
-> __init__() missing 1 required positional argument: 'sortable_by'
-> Fix render() got an unexpected keyword argument 'renderer' on django\forms\boundfield.py in as_widget, line 93

[2018-09-07 19:20] #351 closed

[2018-09-07 19:33] edmenendez commented on #351
I believe the original project is dead. Is there any interesting in forking and making a django-newjet project?

[2018-09-08 10:28] vinayaksanga opened #354 "No module named 'colorfieldjet' error, when db migrate"
Hi,
I am getting the below error when i migrate jet db.

ModuleNotFoundError: No module named 'colorfieldjet'

I am trying to install django-jet for my project. help appreciated.

[2018-09-19 07:21] iamhssingh opened #355 "Customize filter style"
I have been trying to customize `filter.html` in `django-jet`. It works w/o `django-jet` but it seems like `django-jet` is not using Django's html style for filter. How do I change this?

[2018-09-19 19:56] ossrac commented on #226
Hi uroybd, I see that this issue was published more than one year, but in case someone is having to same problem.
The issue comes from a conflict of x-frame-options as you can see in the second screenshot.
to solve it here is link: https://goo.gl/SQoRce

[2018-09-20 16:14] coniconon commented on #341
Still no solution to this? I can't view the demo either

[2018-09-20 17:12] amirasaran commented on #150
I make rtl.css file and it works very well but some bugs in JS popups like time picker
Take a look [https://gist.github.com/amirasaran/0bfd8d33b0ed1a1ad9c0b850f1c6c17d](https://gist.github.com/amirasaran/0bfd8d33b0ed1a1ad9c0b850f1c6c17d)

[2018-09-23 19:46] ItsCalebJones opened #357 "Unicode characters in Object names cause crashes in jet_tags.py"
Simple issue, to reproduce create a few objects with unicode characters, then go to edit them. The tags that allow going between the next and previous is unable to parse unicode characters. Fix is to chance str(sibling_object) to use smart_str() method.

[code]

[2018-09-26 06:00] sacrac commented on #349
Ok, this solution by @charloai, now how to install the new version jet with this solution??
right now i installed django-jet==1.0.7 this version have Bug, i add line 223 model_admin.sortable_by, but this correct way or any way install Jet with this solution working Django 2.1.1???

Cheers

[2018-09-26 12:58] DmitryGerasimov commented on #40
Hi guys,

Any news? Is there a chance to fix this issue?

Thanks, Dmitry

[2018-09-28 06:20] zbynekdrlik opened #359 "Customize tabs on new/change page"
Is it possible to have some fields from fieldset in original admin style on one page grouped and some on new tabs? Actual situation put many tabs with only few fields. I like have less tabs but on tab have grouped structure as it is in original admin.

[2018-09-28 08:01] jttttttttttttt opened #360 "Provisional headers are shown"
when i use aws s3, admin request static/jet/css/icons/fonts/jet-icons.ttf?415d6s  ,static/jet/css/icons/fonts/jet-icons.woff?415d6,  will error occurred Provisional headers are shown in chrome.
 what do you suggest?

[2018-10-01 10:36] ketimaBU opened #362 "Remove menu default Items"
I am using custom menu items, however, I want to remove even more the **BOOKMARKS**, **Home** and **Visit the site**.

[2018-10-02 08:07] verdan commented on #346
@f1nality can you please look into it?

[2018-10-02 20:55] viktorvillalobos commented on #346
Check this please.

[2018-10-05 14:24] pkrzyzaniak opened #364 "jet_sibling_object queries the ids of all rows, which is killing the admin for big tables"
This function is highly inefficient for big tables - f you have a table with 500000 rows, it queriest the huge list of ids twice (to get the previous and next objects).

I understand, that it is because you want to preserve the sorting, but how about trying to filter by gte/lte of all sorting parameters, to ensure the same sorting and then getting the next object?

Alternatively, perhaps those pre

[2018-10-05 18:28] beauseverson commented on #349
Also checking in on progress. Running into the same issue.

[2018-10-06 05:40] rajeshbk042 commented on #314
I fixed this issue by overriding CSS in `https://github.com/geex-arts/django-jet/blob/dev/jet/static/jet/css/themes/default/base.css`
[code]

[2018-10-06 05:56] chaithraraja commented on #180
python manage.py runserver
Performing system checks...

System check identified no issues (0 silenced).
October 06, 2018 - 05:50:03
Django version 2.1.2, using settings 'djangoproject.settings'
Starting development server at http://127.0.0.1:8000/
Quit the server with CONTROL-C.
Not Found: /
[06/Oct/2018 05:50:15] "GET / HTTP/1.1" 404 2146
Internal Server Error: /admin/
Traceback (most recent call

[2018-10-07 08:35] ketimaBU commented on #66
And how could I define a  List per page option? @SalahAdDin

[2018-10-07 15:27] Brachamul commented on #349
Also encountered this issue. Have to uninstall Django-Jet until solved. Thanks for developing it though, it's a nice app.

[2018-10-08 05:40] SalahAdDin commented on #349
@f1nality

[2018-10-08 05:42] SalahAdDin commented on #66
I don't know.

[2018-10-08 05:43] SalahAdDin commented on #314
@rajeshbk042 can you make a pull request?

[2018-10-09 15:20] Ken4scholars commented on #142
Same issue here.
Another issue is that it adds the `Add another..` link even for  One To One relationships unlike the native Django inlines.

[2018-10-10 03:27] MarcosAugustoOliveiraSilva opened #365 "Jet template breaking in application running with apache and wsgi"
Python Version: Python3
Django-jet Version: django-jet==1.0.7
Django Version: Django==2.1.1
uWsgi Versio: uWSGI==2.0.17.1

My complete requirements.txt
![image](https://user-images.githubusercontent.com/26351465/46711555-30d53180-cc23-11e8-8479-f6d923968ccc.png)

My virtualhost config
![image](https://user-images.githubusercontent.com/26351465/46711328-40a04600-cc22-11e8-80a5-2f1838145aa0.png)

My

[2018-10-10 10:48] kairatomurbek2 commented on #349
I'm add code model_admin.sortable_by helped

[2018-10-11 07:46] xianyuLuo commented on #349
nice

[2018-10-15 09:38] josefkorbel commented on #365
Looks like some remainings from default django admin.

Delete everything in your static folder and re-run `python manage.py collectstatic`

Also yourbrowser might be caching css, so try to reload with `CTRL+R` or `CTRL+F5`

[2018-10-16 13:52] zjhzxjm commented on #350
Any plans to support it?

[2018-10-16 15:53] zjhzxjm commented on #350
I have fixed it.

[2018-10-16 17:39] MarcosAugustoOliveiraSilva commented on #365
This work to me, thanks @josefkorbel

[2018-10-16 17:40] #365 closed

[2018-10-18 15:00] bingtel commented on #349
+1

[2018-10-21 13:16] mhipo1364 commented on #150
@amirasaran , thanks, works like a charm

[2018-10-22 05:38] SalahAdDin commented on #150
@amirasaran can you make a PR?

[2018-10-23 17:38] appli-intramuros opened #370 "French local does not work"
French locale still does not work since the last release 1.0.8.
I think this is because of missing *.mo (compiled) files.

Can you help me adding *.mo files so that it works for french locale ?

[2018-10-24 15:54] furqan-shakoor opened #372 "Inconsistent initialization for dashboard classes"
`Dashboard.__init__` takes `context` as a parameter, which according to the documentation should be a `RequestContext` object. But that is not always the case. In `AddUserDashboardModuleForm.clean` method, a Dashboard class is initiated with a `{'request': self.request}` dict.

This could cause problems for users that expect `context` in `init_with_context` in the custom dashboard classes to be a

[2018-10-30 09:42] jttttttttttttt opened #374 "Autocomplete with Custom queryset"
when i use autocomplete , how can i append queyset like query.filter(deleted=False)

[2018-10-30 09:44] jttttttttttttt commented on #374
like django‘s model attr limit_choice_to

[2018-11-01 09:20] SalahAdDin commented on #374
Can you make a PR?

[2018-11-21 13:32] mbutler-79 opened #375 "permission not working for auth users"
Hi,
I want to set a few permissions for some auth users in django admin site, but when setting them, they don't work for the user. how can I fix this issue?
in addition, I saw this link and change my code, but not working yet :
https://github.com/zjhzxjm/django-jet/pull/1/commits/b35c987090488e16ef9de3a85450edc25723b248

[2018-11-23 10:56] dannybombastic commented on #110
don't override {% block extrahead %} from the django admin is the place where django put all his js files.
for me it was tthe problem now is working. i hope it can help some one.

[2018-11-27 05:16] seenu4linux opened #376 "NameError: name 'url' is not defined"
settings.py is below
![settins file](https://user-images.githubusercontent.com/30520948/49059997-a4fa8180-f231-11e8-9f86-f7a5a98b89c6.png)
my urls.py file
![urls file](https://user-images.githubusercontent.com/30520948/49060008-afb51680-f231-11e8-8007-16d59f42906b.png)

[2018-11-27 21:02] unformatt opened #377 "SimpleListFilter not working"
Typically, when using SimpleListFilter, you get a text box that you can enter search text into and hit enter to search. Jet is transforming this search box into a dropdown that does nothing. I can type into dropdown but it only filters what's in the dropdown (the dropdown is empty)...does not trigger a search i.e. form post top server like it should:

Django 1.11

![image](http://g.recordit.co/znp

[2018-11-28 13:47] tomoki16 commented on #148
Any news/fix about this?
`Django==2.1.3`
`django-jet==1.0.8`
Map still don't work.

[2018-11-30 10:00] josefkorbel commented on #376
Add `from django.conf.urls import url` to your `urls.py` file and please add code as actual code next time, screenshots are so annoying, unreproducible and might die on the hosting site making this issue useless.

[2018-12-01 18:01] alvintangz commented on #181
Anyone resolved this issue yet?

[2018-12-07 19:29] RoninDusette commented on #342
How is this still broken?

[2018-12-07 20:15] socrec commented on #342
@RoninDusette it was fixed and merged into `dev`, they just haven't released a new version yet.
Kindly check #345 for more information :)

[2018-12-07 21:43] c001os commented on #376
For me not working, drops the following error:

 `NameError: name 'include' is not defined`

My urls.py:

`from django.contrib import admin
from django.urls import path
from django.conf.urls import url

urlpatterns = [
    '',
    url(r'^jet/', include('jet.urls', 'jet')),  # Django JET URLS
    url(r'^admin/', include(admin.site.urls)),
]`

[2018-12-10 10:17] ceoro9 opened #378 "Filtering with None"
When you specify choices with ```None``` option on model field and in admin model set that field in filters, something really strange happens when you choose ```None``` option in pop up list, I mean everything works perfect on backend, but here is the problem with styles.
[code]
![1](https://user-images.githubusercontent.com/30000366/49717428-1ee62e00-fc68-11e8-8f68-3cfbbfda0f39.jpg)
![2](https://

[2018-12-11 05:36] #279 closed

[2018-12-11 17:07] aparakian commented on #223
Hey I'm having the same issue, did you end up figuring it out?

[2018-12-13 20:17] keskin commented on #350
thank you it is working.

[2018-12-17 01:51] massilva commented on #376
To use 'include' you need import it.

Like this:

from django.urls import path, include

[2018-12-19 09:45] josefkorbel opened #379 "Popup Edit redirecting to new Window"
Hello I am having troubles using popup edits in custom places.

Stack:
`Python 3.6.5`
`Django==2.1.4`
`django-jet==1.0.8`

I am using `ajax-select` in Django admin for 1:N selects, however when I try to insert the edit button manually to the row, it opens in new windows instead of the modal/popup.

I am formatting it like this, same code as in django-jet popup edit button.

[code]

When I hover ov

[2018-12-23 16:10] mohammad-chavoshipor opened #381 "Problem login admin page on iphone"
Hello
Thanks for the package
Unfortunately, we're having trouble signing in with an Apple phone, and the user can not and typing a lock character.
Also in the template view in the browser, the template is also displayed in the problem display and the page scrolls and does not have a normal display that is attached.
Thankful
![image](https://user-images.githubusercontent.com/12573801/50385402-53d39

[2019-01-03 10:10] aparakian opened #383 "icon-yes, icon-cross not showing on themes gray, purple, light green, light blue"
It's due to the `$warning-text-color` and `$success-text-color` set to `#fff` on those themes.

[2019-01-04 09:23] aido93 opened #384 "How to create custom buttons in admin?"
Hi! I need to do something like [this](http://books.agiliq.com/projects/django-admin-cookbook/en/latest/action_buttons.html), but I don't know which template must be extended for correct display. Could you say how to add couple of custom buttons to the admin page? I tried  to inherit from admin/base.html, but it shows empty content block.

[2019-01-05 15:09] logicappsource commented on #342
When this fix omg... I changed model_admin.sortable_by  on line 223 still same bug . ffs

[2019-01-05 16:45] RealSerga commented on #383
I found it too
To fix this you need to remove the line display: none;  in file content.scss in static

img[src$="admin/img/icon-no.gif"], img[src$="admin/img/icon-no.svg"] { display: none;},
img[src$="admin/img/icon-no.gif"], img[src$="admin/img/icon-yes.svg"] { display: none;},

to
img[src$="admin/img/icon-no.gif"], img[src$="admin/img/icon-no.svg"],
img[src$="admin/img/icon-no.gif"], img[src$="a

[2019-01-05 18:33] socrec commented on #342
@logicappsource the fix at #345 has been merged to `geex-arts:dev`, you can try to pull from that instead.
Or if you don't want to use `dev` because of stability concern, you can try this

[2019-01-16 12:41] AadiKshatriya commented on #114
Can we convert user permissions from multi-select options to a checkbox:
Here in this link I have asked Qeustion in StackOverflow:  https://stackoverflow.com/questions/54215295/how-to-change-django-admin-group-permissions-multi-select-options-to-checkboxes

[2019-01-18 16:26] insider-charlie opened #386 "Conflict with django-nested-inline"
Django-jet shows following error when I create a tow-level inline, how can I fix it?
[code]

[2019-01-20 05:19] dsal1951 commented on #359
@zbynekdrlik - did you ever figure out how to do this?

[2019-01-21 13:32] kobymeir commented on #300
I added to my code: `/static/admin/css/forms.css`

This styling:
[code]
`inline-block` is the better display type

[2019-01-21 21:55] SalahAdDin commented on #300
@kobymeir Can you create a new PR?

[2019-01-23 22:44] CodeSpent commented on #289
Third issue I've seen opened on this where most say "follow the instructions". Many of us have and are still faced with this issue.

Here is the debugger's output:
`

Using the URLconf defined in dsg-it-database.urls, Django tried these URL patterns, in this order:

    ^$ [name='index']
    ^inventory/$ [name='inventory']
    ^access_denied/$ [name='access_denied']
    ^inventory/add_item/$ [name

[2019-01-23 23:13] CodeSpent commented on #62
I second this. Could we get the name of the package you installed to solve this? Closed issues should include a complete solution. Is it the Google Analytics package, and if so why would that be a necessary dependency? I've tried installing that anyways just to see, and there's no difference. Please let us know what "google python package thingy" can be installed to resolve.

[2019-01-24 10:12] SalahAdDin commented on #289
You must put them before to the admin urls if i'm not wrong.

[2019-01-24 20:31] CodeSpent commented on #289
You are correct, this was my issue. I've helped 2 others who missed this note as well. So future readers, verify your jet urls are before admin urls.

[2019-02-05 17:57] expresspotato commented on #89
This problem happens for me when the app doesn't have an admin.py file and defining admin classes... Super annoying as I don't need package models to be included in the admin (namely in my case django-cities-light).

[2019-02-05 19:03] expresspotato commented on #156
So hours later the fix is both moving jet_dashboard.py / whatever you want to call it next to manage.py **and** for some reason you can't use a custom side JET_MENU, it's just going to crash later on.

[2019-02-13 09:34] govindsharma7 opened #387 "Not able to load django admin when using jet dashboard"
Not able to use Django admin when using jet dashboard.
Getting `Integer Out of Range`
![screenshot 2019-02-13 at 15 03 50](https://user-images.githubusercontent.com/11593610/52701644-b2a5e480-2fa0-11e9-9efb-76c2438a68af.png)

[2019-02-16 06:48] govindsharma7 commented on #195
Note: We are maintaining a fork here at the moment: https://github.com/reckonsys/rs-django-jet addressing these issues. ONLY for UUID fields.

[2019-02-16 06:49] govindsharma7 commented on #387
Duplicate of #195. We are maintaining a fork here at the moment: https://github.com/reckonsys/rs-django-jet addressing these issues. ONLY for UUID fields.

[2019-02-16 06:49] #387 closed

[2019-02-16 20:35] SalahAdDin commented on #195
@govindsharma7 We also had a fork, are you working just in the UUID fields? No more features, right?

[2019-02-19 06:53] rmerinogarcia opened #388 "draggable and deletable flags not working in some dashboard modules"
Configuring a custome dashboard, those properties doesn't work
self.children.append(modules.RecentActions(
            _('Recent Actions'),
            10,
            draggable=False,
            deletable=False,
            collapsible=False,
            column=0,
            order=0
        ))

        self.children.append(modules.LinkList(
            _('Support'),
            children=[

[2019-02-19 16:50] c-vradis commented on #198
@gabor-boros with Rosetta 0.9.1 and Django 2.1 , the following line
`<h1 id="site-name"><a href="{% url 'rosetta-pick-file' %}">Rosetta</a> </h1>`
causes the error:
[code]

To stop getting the error, I've changed that line to:
`<h1 id="site-name"><a href="{% url 'rosetta-old-home-redirect' %}">Rosetta</a> </h1>`

[2019-02-20 18:00] govindsharma7 commented on #195
@SalahAdDin Right now I have worked on UUID fields only.

[2019-02-24 22:05] Vadorequest opened #389 "New JET ?"
I don't understand what means the message on the main page

Developing of new features for Django Jet will be frozen, only critical bugs will be fixed

If there is a new version ongoing, where is the repo? Is it not open source? Is it gonna be a SaaS platform?

[2019-02-25 11:06] yevheniidehtiar commented on #161
Why this 3-years old bug is not fixed today???

[2019-02-25 13:49] SalahAdDin commented on #161
Because @f1nality , the first author, left it.

[2019-02-25 13:57] thyagotosin commented on #161
:'(

[2019-02-26 07:43] SalahAdDin commented on #389
It is a SaaS platform.

[2019-02-26 08:19] f1nality commented on #389
@Vadorequest its partly open source. new jet is now SPA and divided into 2 parts – backend part on your server and frontend part on jet side. the architecture is made so that your private data is secured, it is not going through our servers. this gives a lot of advantages, now jet can work with any languages and frameworks, not only Python + Django, also all users gain new features as soon we add

[2019-02-26 11:31] Vadorequest commented on #389
Thank you for your detailed reply, I suggest to clarify the README, I knew Django Jet and wasn't expecting a SaaS platform to appear where it was only a Django plugin back then ;)

Looks awesomely good! 🚀

[2019-02-26 11:31] #389 closed

[2019-03-02 22:31] mmmcorpsvit commented on #389
i try free use SaaS some time ago, but biggest problem what impossible use to local debug
too don't find how language change or how use any django admin tools

[2019-03-05 18:41] f1nality commented on #389
@mmmcorpsvit you can use new jet even with your local webserver. Thats because Jet Admin is just frontend application that send requests to any api to get data (even local)

[2019-03-05 21:00] mmmcorpsvit commented on #389
ок, but how use in this case offline debug when need strong security, or for offline? This is impossible.
Or how use custom admin parts... idea SaaS cool, but not perfect and have many black box parts? this is not compartible with Open Source logic( sad...

[2019-03-05 22:40] f1nality commented on #389
@mmmcorpsvit I didn't get how offline debug is connected with security and what type of security do you mean. anyway new jet is secure, database bridge application (which has access to your data) is open source and is installed on your side. frontend part which is not open source is just an interface, it has no direct access to your data.

also about customizing, we did big work on this part. you

[2019-03-06 17:03] mmmcorpsvit commented on #389
i try explain, for example we have based on money some system, many companies use internal LAN and think Internet access for restrict area (usual for work in Remote Desktop), this is typical for many companies? this is real example.  So use New JET just will be impossible. So offline version just must be. Very sad what old Jet version dead(((

[2019-03-06 17:12] f1nality commented on #389
@mmmcorpsvit using jet for closed lan network is possible with enterprise plan

[2019-03-06 17:53] edmenendez commented on #389
I think the only way would be to create a fork of the project or switching to something like Django Suit.

[2019-03-06 18:10] f1nality commented on #389
@edmenendez what's the sense of it? nothing changes for this repository

[2019-03-06 18:17] edmenendez commented on #389
Nothing needs to change for this repository. Creating a fork would allow the community to better update the project and approve PRs and feature updates.

[2019-03-06 18:21] f1nality commented on #389
@edmenendez GitHub has ability to add members of repository that can approve PRs and edit code. There is no need to add forks and confuse other developers.

[2019-03-06 18:27] edmenendez commented on #389
Of course, but no one has done that unfortunately :-( My understanding is that this project is staying static with no new development or PRs accepted. Nothing has been accepted/changed in about 5 months.

[2019-03-06 18:37] edmenendez commented on #389
For example.. see these PRs:

https://github.com/geex-arts/django-jet/pull/369
https://github.com/geex-arts/django-jet/pull/380
https://github.com/geex-arts/django-jet/pull/358

If the project was not dead.. you would think someone would have approved one of those by now. If you're saying the project is _not_ dead, then I would wait to see some movement in the PRs to see if this is true.  Also, ap

[2019-03-11 20:40] Vadorequest commented on #300
I figured out it depends on the selected theme, some default themes don't work properly

[2019-03-15 14:09] Bastilla123 commented on #330
i have the same problem

[2019-03-15 14:28] saurabh-codal commented on #161
sssd

[2019-03-18 03:35] pazzitul commented on #158
I solved it:
1. Delete database
2. Delete files generated by makemigrations
3. Re-execute makemigrations and migrate

[2019-03-20 13:57] Karikari commented on #352
You just have to upgrade some of your packages
I was having this problem when i upgraded to django-2.1.7 but I also upgraded some of my packages
like django-smuggler form 0.9.0 to 0.9.1 and my issue was resolved.

[2019-03-25 12:15] Xednom commented on #161
Is there any chances that this bug will be fixed, although it has been 3 yrs ago.

[2019-03-29 17:30] twimnox commented on #359
any one had success?

[2019-03-29 17:40] twimnox commented on #359
got a solution from a problem here:
https://github.com/geex-arts/django-jet/issues/291

it will be able to use traditional django fieldsets configuration

[2019-03-30 11:29] dosoos opened #390 "how to install new jet"
new jet is very nice, i want install this app to my django project, but how to install new jet? i don't find any about new jet documents, who can tell me ?

[2019-04-01 08:52] f1nality commented on #390
@dosoos hello! new jet has another website and repository,  you can read about installation process in Docs here:
https://docs.jetadmin.io/getting-started/install

[2019-04-02 13:30] rodolfolottin commented on #360
Did you manage to solve it?

[2019-04-03 04:55] sirtoobii opened #391 "Prevent agressive tag overriding"
Hello

In advance, this is maybe a special case: We use Django-jet in combination with with a custom site which talks to an external REST-API via client-side ajax.
The problem is now, that every   `<select></select>` - tag is overriden by Django-jet. In particular the select2 css classes are added. This makes them nearly unusable as normal selects.

Is there any way to prevent this? Please note th

[2019-04-03 12:13] #390 closed

[2019-04-04 11:56] Mee1ad opened #392 "DeprecationWarning: Using or importing the ABCs from 'collections' instead of from 'collections.abc' is deprecated, and in 3.8 it will stop working class OrderedSet(collections.MutableSet):"
i try changing this:

`import collections

class OrderedSet(collections.MutableSet):
         ...`

to this:

`from collections import MutableSet

class OrderedSet(MutableSet):
        ....`

but warning still appear. :(

[2019-04-05 10:14] rewrz commented on #336
I have the same error message, but the console error is "AttributeError: 'NoneType' object has no attribute 'split'" or "UnicodeDecodeError: 'gbk' codec can't decode byte 0xa6 in position 9737: illegal multibyte sequence".

[2019-04-12 08:59] wisnuprama commented on #323
we should give an option in settings so we can customize

[2019-04-15 08:25] shuvayan-wgt opened #393 "Issue in Jet Dashboard related to Permissions"
If I provide the model view permission to any user, then the user can only view the database items of that models, which is working fine in the default django admin. But in the jet admin, the model is not clickable, but it is accessible when I use the url. Please let me know some solution of this issue.

[2019-04-20 14:37] DevAbhinav2073 commented on #325
Hello again! I have come up with another and easier solution that doesn't require any changes to the library CSS or code.
Just add an extra CSS class to the form widget and you are good to go.
[code]

This does the magic but it shifts the whole choices set to right to some extent but that is not such a big problem

[2019-05-01 04:09] Chipop commented on #381
I had the same problem on pc, clearing the cache resolved it

[2019-05-01 10:09] qari opened #394 "Coloring row"
How I can coloring row? When I use in admin.py
`
    def suit_row_attributes(self, obj, request):
        if obj.start < TZ.now() and obj.end > TZ.now():
            return {'class': 'success'}
`
I can't find class .success

[2019-05-03 00:30] ryanovas commented on #300
Are we talking about the little checkmark images or the checkbox itself? I was having this issue as well and had to change line 268 of _content.scss. For some reason the images have display: none put on them... Is there a particular reason this is even there? I'm not sure this issue should be closed

Specifically I did this:

[code]

[2019-05-03 08:30] SalahAdDin commented on #300
all pr are welcomed.

[2019-05-06 07:45] vafaeivafaei commented on #181
Add a file in 'templates/admin/import_export/base.html'
whit below content
`{% extends "admin/import_export/base.html" %}
{% load static %}

{% block extrahead %}{{ block.super }}
    <script type="text/javascript" src="{% static "admin/js/vendor/jquery/jquery.js" %}"></script>
    <script type="text/javascript" src="{% static "admin/js/jquery.init.js" %}"></script>
{% endblock %}`

[2019-05-06 09:59] mnislam01 commented on #159
If I want to customize [This](https://github.com/geex-arts/django-jet/blob/dev/jet/dashboard/templates/jet.dashboard/modules/model_list.html) template by inheriting in my app how can I do it?

I guess this template shows models of an app in a list. I want to group some models for my application. May be different list for different group like that.

[2019-05-11 11:19] ddavidebor commented on #389
Guys, it would be best if you were to open source seriously the existing django-jet, so that people could took over it's development.

And i mean seriously. Change the license, move to community management.

Because, let's be honest, no-one asked for this new product, and it's a highly competitive business space. And I'm pretty sure you'll fail because your new business model is not targeting seri

[2019-05-12 12:50] Vadorequest commented on #389
@ddavidebor Just out of curiosity, what do you mean by "IP" in this context?

[2019-05-12 13:29] ddavidebor commented on #389
@vadorequest Intellectual property

Without any control over the intellectual property of the the frontend what should a Company do if the frontend gets dismissed or take a turn incompatible with the business needs?

That's all everyone sees - the frontend. That's what users map their brains to.

[2019-05-13 08:13] SalahAdDin commented on #389
We tried to make a fork, but no one helped us.

[2019-05-13 17:58] ddavidebor commented on #389
Even if you were to fork it, with the AGPL licence it would be useless to many companies

[2019-05-14 09:30] SalahAdDin commented on #389
Any alternative?

[2019-05-14 14:07] ddavidebor commented on #389
Only if the copyright holder re-releases it with MIT/BSD/APACHE or equivalent licenses, then it could be rebranded and a community created to support it

[2019-05-14 16:50] edmenendez commented on #389
It seems like the GNU (Free Software Foundation) license grants us full permission to do that. See section 5.

https://github.com/geex-arts/django-jet/blob/dev/LICENSE

[2019-05-14 16:54] ddavidebor commented on #389
@edmenendez Don't bother, It's not under the GNU License, it's under the GNU Affero license.

The GNU Affero license under which this code is requires you to fully disclose the whole source code of your app (including in the case it's provided as a networked service such as a SAAS) making it completely useless in anything but a completely open source app.

[2019-05-23 13:00] Ehco1996 commented on #349
i met this bug too, anyone can submit PR to solve this?

[2019-05-27 15:12] SRICKKY commented on #352
I dont have any custom render method, still I'm getting this error!

[2019-05-28 12:50] josefkorbel commented on #349
This is already fixed in the newer releases.

[2019-05-29 20:45] c-vradis commented on #246
Hi, I have encountered the same issue. This seems like a good solution but needs further work.

@tolomea, you mean to alter the code in https://github.com/geex-arts/django-jet/blob/dev/jet/forms.py

I tried that, the "-------" option shows up, but saving the record is not working, it seems the value is ignored and the old value is kept. Maybe 'id' should have some other value? Tried with 'None', a

[2019-05-29 22:33] c-vradis commented on #246
OK, I removed the dashes

`items.insert(0, {'id': '', 'text': ''})`

and now it works.  Thanks for the suggestion.

[2019-05-30 13:21] simp13 opened #395 "S3 static file error"
I can't load static file from s3 in admin.I use django version2.Please tell me how can i fix that error?
"Error"->got extra amp; from static tag
"static/jet/css/vendor.css?AWSAccessKeyId=AKIAJ73SAH6JC4LX2NIQ&amp;Signature=B1nx4%2FAGAxak0mn3v0C0evh8B3c%3D&amp;Expires=1559254061&v=1.0.8"

[2019-05-30 19:17] Arlington1985 commented on #278
There's not ask type, you can mark it as a change

[2019-05-30 22:52] #395 closed, assigned to nobody

[2019-06-03 19:57] shahriardn opened #396 "persian calendar need"
in Iran and many other cuntres

[2019-06-04 08:55] shayneoneill commented on #180
Was this ever solved?

[2019-06-04 15:12] merwok commented on #180
[code]

This is a URL configuration issue.  In the install docs, we can see `url(r'^jet/', include('jet.urls', 'jet'))` added to urlpatterns: the last string is a URL namespace.

(That said, the docs seem to target older django versions, I don’t know if django-jet works with recent versions.)

[2019-06-06 01:02] HeywoodKing opened #397 "I use django - jet1.0.8 beautify the backstage management site, I the backend login address is http://localhost:9090/admin into http://localhost:9090/admin/home"
Django2.2.1 python3.7 I use django - jet1.0.8 beautify the backstage management site, I the backend login address is http://localhost:9090/admin into http://localhost:9090/admin/home, and then after the login is to:'NoneType' object is not callable this error, login inside look at the site (http://localhost:9090/admin) address click an error, also hope to friends for help, I've no idea, thanks

[2019-06-06 01:54] shayneoneill commented on #180
Yeah I found it in the end. Whoops.

I probably should have recognized the error lol. The joys of sleep deprivation.

[2019-06-11 16:20] ulrichgero commented on #263
Hi! I'm facing the same problem. Any help?

[2019-06-20 04:21] danihodovic commented on #156
I faced this issue when the `pygal` dependency was not installed.

[code]

fixed it

[2019-06-20 15:40] SalahAdDin commented on #156
is it required for the new version?

[2019-06-28 02:20] a8568730 commented on #276
I use `Django@2.2.2` and I change the url patterns from path() into [re_path()](https://docs.djangoproject.com/en/2.2/ref/urls/#django.urls.re_path):

[code]

[2019-07-05 23:41] mohamedAbdElhameed commented on #310
![image](https://user-images.githubusercontent.com/15869596/60748513-0edcc580-9f8f-11e9-86ab-1bda19daa108.png)

if you get error like this be sure that the link after "redirect_uri"
is in your
![image](https://user-images.githubusercontent.com/15869596/60748501-db01a000-9f8e-11e9-8e98-e810e302bd78.png)
then download json after saving
and finally update the client_secrets in your project and it wil

[2019-07-21 18:46] itayseer commented on #279
add `from jet.dashboard.dashboard_modules import google_analytics_views` to the top of your root `urls.py`

[2019-07-22 09:33] itaisir commented on #161
remove the line
in `select.js`
[code]
and make sure to create new bundle

[2019-07-22 11:46] SalahAdDin commented on #161
all PR are well received.

[2019-07-26 05:43] saeidshirazi opened #398 "translate django admin"
hi i want to translate django admin panel when use
from django.utils.translation import ugettext_lazy as _
and translate it when reload your panel is left to right but i need when i use persian(farsi) your panel is change to right to left please fix it tnx a lot

[2019-08-07 14:07] anufry commented on #319
Not Fixed yet

[2019-08-07 18:08] cyberbudy commented on #319
Probable won't be. They are working on the new jet, nothing new for a this one

[2019-08-12 14:23] jffin commented on #349
have same issue with django-jet==1.0.8 and django version 2.1.5

[2019-08-13 08:09] Collederas commented on #283
For what is worth, you need to turn USE_L10N off or it will use your specified language defaults.

[2019-08-13 16:41] loubna1998 commented on #310
hello i have the same problem everything worked just right but when i grant acess it shows 'counters loading failed'
@andreamanni
@LouiseNiyigena
@SalahAdDin
@mohamedAbdElhameed
please can you help me

[2019-08-16 11:06] mohamedAbdElhameed commented on #319
the default behavior for django-jet with foreign key and many to many fields is equal to django admin with autocomplete_fields
just remove autocomplete_fields and it will work well

[2019-08-17 11:58] ApaDoctor commented on #84
Problem still exists in 2019.
`filter_horizontal` doesn't change anything. (Horizontal filtering doesn't appear).

(Chrome)

[2019-08-28 13:21] Kuzyashin commented on #393
Same problem. If i set only view permission, app url is not active. But if i add change permission, it is ok.

[2019-08-30 03:48] #335 closed

[2019-09-05 13:35] Alex6082 commented on #319
Use - https://jet.readthedocs.io/en/latest/autocomplete.html
But it is case sensitive

[2019-09-12 09:19] farridav commented on #393
There is an error here https://github.com/geex-arts/django-jet/blob/dev/jet/forms.py#L121 in that you require `change` permissions to list models in a dropdown

[2019-09-12 19:38] amirasaran commented on #246
@tolomea Thanks for the suggestion!

[2019-09-16 18:21] fergyfresh commented on #161
Just saw this one on version 1.0.8

[2019-09-16 18:22] fergyfresh commented on #161
[code]

[2019-09-17 12:22] SalahAdDin commented on #161
Never solved.

[2019-09-18 07:01] jttttttttttttt opened #401 "DateRangeFilter not working by 2 params use"
when i use
[code]

[code]
datetime_updated it work ok ,  but datetime_created will show
`?&datetime_pay__gte=&datetime_pay__lte=`

[2019-09-18 07:50] jttttttttttttt commented on #401
up...  i find django-admin-rangefilter version is 0.3.6 but the newest version is 0.5.0, update it

[2019-09-18 07:50] #401 closed, assigned to nobody

[2019-09-20 20:04] fergyfresh commented on #161
@SalahAdDin this PR works for me.

[2019-09-26 01:22] avdata99 commented on #148
I proposed at Django the change you suggested @gslaboch:
https://github.com/django/django/pull/11819

[2019-09-26 14:06] SalahAdDin commented on #148
@avdata99 as far as i understand, the normally don't make changes related to third party packages, less when it is not a popular package.

[2019-09-27 05:24] singlas commented on #330
Hi, I am facing the same problem.
Has anyone been able to resolve it yet?

[2019-09-28 22:11] ghost commented on #180
By adding `STATIC_ROOT = os.path.join(os.path.dirname(BASE_DIR), "static")` to the **settings.py** it worked fine ( :

[2019-10-01 13:45] denzel-beowulf commented on #84
I can confirm that on Firefox too.

[2019-10-01 14:13] denzel-beowulf opened #403 "Same issue from 2016 'ManytoMany Field wrong in Firefox. #84'"
![ManytoManyFields_error_20191001_095738](https://user-images.githubusercontent.com/12039780/65969419-5ce85480-e42a-11e9-96a9-f3ea5233822c.png)
Same on Chrome
![ManytoManyFields_error_chrome_20191001_095738](https://user-images.githubusercontent.com/12039780/65970200-af764080-e42b-11e9-838d-1abf0a61fe98.png)

[2019-10-07 19:00] thiagoceano commented on #391
Well, I'm very interest in a solution to this. Can anybody help us? It seems to be a fair and important question to be answered.

[2019-10-08 16:50] stygmate commented on #391
@thiagoceano @sirtoobii You may need to install django-jet as an editable package with pip or pip install from forked version.
then modify this in a way that is ok for you:
https://github.com/geex-arts/django-jet/blob/06ab6436d8add9aafcf771df40358409564e6bcb/jet/static/jet/js/src/features/selects.js#L225

the jQuery selector here is 'select' , so all select tags.
maybe you can exclude a part of th

[2019-10-09 11:47] singlas opened #404 "get_changeform_initial_data not working"
I have a model in Django:

[code]

I am creating 5 different views in Admin Panel for this, one for each office_type. In the default admin panel, I was using the below code to set the value for office_type accordingly.

[code]
But, this stopped working when I moved my code to Django-jet.

Please take a look.

Thanks

[2019-10-26 13:25] georgie123 opened #405 "django-location-field widget not rendering"
Hello
The django-location-field's widget (a Google map for example) does not rendering well in add form or one-to-many models.
When I refresh the pages: no problem! All appears right.
Thanks

[2019-10-28 11:23] globalepub opened #406 "urls.py file"
django.core.exceptions.ImproperlyConfigured: Passing a 3-tuple to include() is not supported. Pass a 2-tuple containing the list of patterns and app_name, and provide the namespace argument to include() instead.

[2019-10-28 11:25] globalepub commented on #406
I've resolved the issue by changing:
url(r'^admin/', include(admin.site.urls)),
to
url(r'^admin/', admin.site.urls),

[2019-10-28 16:03] pierreben commented on #280
I know that django-jet is not maintained any longer but this is the approach I use to have multiple choice filtering in the jet admin: https://github.com/pierreben/django-jet/commit/3e376a5b9df549d4bf4b6fa609a4120681e657a5.

To use it, you have to create a custom filter in your modeladmin inheriting from MultipleChoiceListFilter:

[code]

If some people are interested, I can submit a pr for this.

[2019-10-29 18:38] ShivaShankarPuvvada opened #407 "can not import DateRangeFilter from jet.filters"
this line is not working:
from jet.filters import DateRangeFilter

I am using
python 3.7 +
django 2.2
django-jet 1.0.8

[2019-11-05 05:49] rowsheet commented on #180
`reverse('jet-dashboard:update_module'` is trying to reach the url `/jet-dashboard` or something with that namespace. Chances are your URL config looks like:

        re_path(r'^jet/', include(('jet.urls', 'jet'))),
        re_path(r'^jet/dashboard/', include(('jet.dashboard.urls', 'jet-dashboard'))),

It should look like:

        re_path(r'^jet/', include(('jet.urls', 'jet'))),
        re_path(r

[2019-11-05 09:03] SalahAdDin commented on #180
Pull request are welcomed.

[2019-11-09 12:29] timgates42 opened #413 "Simple typo in the CHANGELOG.rst"
Should be thanks rather than thansk.

[2019-11-11 06:53] Sudiptoganguly commented on #261
As per your above solutions i have copy paste code but i am facing issues
i.e
    models.ManyToManyField: {'widget':JetCheckboxSelectMultiple},
AttributeError: module 'competition.models' has no attribute 'ManyToManyField'

Please i need a solution urgent

[2019-11-14 17:53] ssi-anik commented on #220
did anyone find any wayout?

[2019-11-14 18:51] partizaans commented on #220
@ssi-anik Check [this](https://github.com/geex-arts/django-jet/pull/400) out

[2019-11-14 21:59] ssi-anik commented on #220
@partizaans bro I am new to django. not sure if I can use your commit personally. possibly no, right?  and as a few test suite didn’t run successfully can be a reason for ignoring it.

[2019-11-14 23:20] drewburnett commented on #360
This issue still occurs for me. Any luck?

[2019-11-14 23:26] drewburnett opened #415 ".tiff and .woff Icons not displaying using S3"
When I use AWS s3, admin requests
`static/jet/css/icons/fonts/jet-icons.ttf?415d6s` & `static/jet/css/icons/fonts/jet-icons.woff?415d6` but s3 changes these file urls to `static/jet/css/icons/fonts/jet-icons.ttf%3415d6s` and
`static/jet/css/icons/fonts/jet-icons.woff%3415d6` accordingly. Any suggestions?

[2019-11-21 09:08] pythonwood opened #416 "pagenation bug report"
I think jet is the greatful after comparing so many add advance interface.

So I catch a little bug.

![截图_2019-11-21_17-04-00](https://user-images.githubusercontent.com/5157880/69323194-3358e600-0c81-11ea-9f85-0ecff9108783.png)

[2019-11-21 09:12] pythonwood commented on #416
Another one  IN Django 2.2.7 (but no bug in Django 2.0.2)
![截图_2019-11-21_17-11-03](https://user-images.githubusercontent.com/5157880/69323582-fa6d4100-0c81-11ea-907f-0ac26aa7fb74.png)
![截图_2019-11-21_17-11-18](https://user-images.githubusercontent.com/5157880/69323583-fb05d780-0c81-11ea-8742-de4b1e8ab182.png)

[2019-11-29 04:05] clearinterface commented on #416
I don't think this is a bug. The pagination appears to be working for me. See screenshot below: I am currently using django 2.2.7 and Python 3.6.6

<img width="1655" alt="Screen Shot 2019-11-28 at 11 04 29 PM" src="https://user-images.githubusercontent.com/1323877/69843008-9b846a80-1233-11ea-8869-67a75140cee7.png">
<img width="1655" alt="Screen Shot 2019-11-28 at 11 04 41 PM" src="https://user-ima

[2019-12-01 19:17] #22 closed

[2019-12-02 19:11] SalahAdDin commented on #22
@DheerendraRathor did you solve it?

[2019-12-03 08:07] BobbyBabazadeh opened #417 "ForeignKey not working in django-jet"
Hi,

I'm struggling with foreign-key in django-jet admin panel for couple month.
When I enable django-jet admin dashboard, fields with foreign-key shows no result found, But when I switch to django native admin interface, It will works like a charm.
Look at the picture for more detail. This problem is a pain in my ass.
![django-jet problem](https://i.imgur.com/dmUJOSo.png "django-jet problem")

[2019-12-04 21:46] zedrood opened #418 "python_2_unicode_compatible"
after install django v3 i got this error.
[code]
i see this directory django.utils.encoding , `python_2_unicode_compatible` is not more exists.
and according to Django 3.0 release notes
[code]

[2019-12-04 23:06] drewburnett commented on #418
@zedrood Same. Haven't figured out a solution.

[2019-12-05 07:32] zedrood commented on #418
solution is use `six.python_2_unicode_compatible()` instead `django.utils.encoding.python_2_unicode_compatible()`  according Django 3.0 release.

[2019-12-05 07:36] zedrood commented on #418
six is Utilities for writing code that runs on Python 2 and 3
`pip install six`

[2019-12-05 16:53] Pijuli commented on #418
Same here...
180 issues
56 PRs

Is there any community edition being maintained?
R.I.P Jet.
You served well (kind of)

[2019-12-06 02:28] pythonwood commented on #416
@clearinterface Yes, but maybe lager page number  (4661)  is not good ?

[2019-12-06 17:57] orlax commented on #306
hey there, I am experiencing the same behavior did you @srTinto80  ever found a solution?

[2019-12-06 18:48] srTinto80 commented on #306
Hi @orlax  , i finded a kind of workaround but i not use jet anymore and i dont remember with precision.
I finded workaround debugging the code. The problem was in utils.py file, get_menu_items method.
Try using custom JET_SIDE_MENU_ITEMS configuration, setting "permissions": [] or similar for the app.
Sorry.

[2019-12-06 21:37] orlax commented on #306
no worries, I will look in to it and document it if possible, thank you for pointing me on the direction.

[2019-12-11 16:43] DheerendraRathor commented on #22
Yeah, I didn't see it in last version I used, so closed it.

[2019-12-16 13:55] Eirenne commented on #306
Hello there. Have you found a workaround?

[2019-12-16 14:51] orlax commented on #306
hello, @Eirenne for time constraints I resolved to just do a CSS override to hide those lines. I am using sass and this is what worked for me:

[code]

but this will vary wildly depending on the project. but well, hopefully, I get some time to do this properly during this week.

[2019-12-17 15:55] Eirenne commented on #306
Hello again.

Forked the repo and tried to debug the problem. Found out that if you have app defined in custom menu and django doesn't give user permission for that app, jet makes a default object with default permissions and data from JET_SIDE_MENU_ITEMS list.

Fixed it [here](https://github.com/Eirenne/django-jet/commit/033bbde8b7b510c9143bfa435e7045460ca193df) by setting default objects permiss

[2020-01-04 17:05] huseyinbilgili commented on #418
Is there any solution for this ?

[2020-01-05 16:31] yasinkbas commented on #418
-> Just Go error file line 3~5
-> You will see following line
 **from django.utils.encoding import python_2_unicode_compatible**
Replace this line with
**from six import python_2_unicode_compatible**

[2020-01-08 16:29] KINGH242 commented on #139
For anyone else that may end up here in search for a fix for this, you must delete the dashboard migration for admin_tools from the database, then run migrations again.

`DELETE FROM public.django_migrations
WHERE app='dashboard' and name='0001_initial'`

![pgAdmin_4](https://user-images.githubusercontent.com/876963/71996350-0bf6b200-320a-11ea-8cb2-a84fea253f06.png)

[2020-01-09 09:50] alsonpr opened #421 "12 Hour Time Format Picker"
I'm having some trouble around working with 12 hour Time Format. By default, django-jet has 24hr  time. Is there any work around this problem?

[2020-01-10 21:10] juancresc commented on #418
same issue

    from django.utils.encoding import python_2_unicode_compatible
ImportError: cannot import name 'python_2_unicode_compatible' from 'django.utils.encoding' (/Users/juan/Documents/manu/dev/profarm_crm/venv/lib/python3.7/site-packages/django/utils/encoding.py)

[2020-01-14 10:40] KR1470R opened #423 "Failed building wheel for django-jet"
imma wanna install Django-Jet on my Linux Mint, but his gimme error Failed building wheel for django-jet. Using command: pip3 install django-jet.
![image](https://user-images.githubusercontent.com/54418933/72337264-fa5e5000-36ca-11ea-80e2-6dfaf70fb321.png)

[2020-01-16 12:52] Barukimang commented on #418
Solution of @yasinkbas works, only not for a Docker deployment. Would be great if django 3 fix is approved into new version!

[2020-01-18 14:10] kp96-info opened #424 "ValueError: Empty module name, using cookie cutter"
$ python manage.py migrate jet
Traceback (most recent call last):
  File "manage.py", line 30, in <module>
    execute_from_command_line(sys.argv)
  File "/home/kapil/Documents/PycharmProjects/COOKIECUTTER/project_1_test/venv/lib/python3.6/site-packages/django/core/management/__init__.py", line 381, in execute_from_command_line
    utility.execute()
  File "/home/kapil/Documents/PycharmProjects/CO

[2020-01-18 14:12] kp96-info opened #425 "ValueError: Empty module name, using cookie cutter"
ValueError: Empty module name while migrating jet app, I am using cookie-cutter template.
I am following the documentatation [here](https://jet.readthedocs.io/en/latest/install.html)

[code]

[2020-01-18 14:34] #425 closed, assigned to nobody

[2020-01-19 07:35] peerasun opened #426 "How to get user in DashboardModule"
class ModuloUsuariosPorCarrera(modules.DashboardModule):

    def init_with_context(self, context):
        ## request user is straff
        self.children = Mas_Hosts.objects.all()`

[2020-01-22 10:08] SalahAdDin commented on #306
Unfortunately, this repository is no longer maintained anymore.

[2020-01-22 11:33] Barukimang opened #429 "Lookup Field Popup is not rendering with error: Refused to display 'http://localhost:8000/.../?_to_field=id&_popup=1' in a frame because it set 'X-Frame-Options' to 'deny'."
This is due to Django 3.0:
[code]
https://docs.djangoproject.com/en/3.0/ref/clickjacking/

Resolution:

Add: `X_FRAME_OPTIONS = 'SAMEORIGIN'` to your Django settings file

This version of django-jet works with Django3.0: https://pypi.org/project/django-3-jet/

To install use: `pip install django-3-jet`

[2020-01-22 11:42] Barukimang commented on #418
This version of django-jet works with Django3.0: https://pypi.org/project/django-3-jet/

To install use: `pip install django-3-jet`

[2020-01-23 08:22] Barukimang opened #430 "django-jet is not Django3 compatible"
This version of `django-jet` works with `Django3.0`: https://github.com/Barukimang/django-jet/

To install use: `pip install django-3-jet`

See also here: https://pypi.org/project/django-3-jet/

Includes fixes for errors such as:

`ImportError: cannot import name 'python_2_unicode_compatible' from 'django.utils.encoding' (/usr/local/lib/python3.7/site-packages/django/utils/encoding.py)`

`Template

[2020-01-24 11:25] DavidLemayian commented on #156
Managed to fix this and keep `dashboard.py` in my `app` folder:
[code]

and then in my `settings.py`:
[code]

[2020-01-26 09:35] amirasaran commented on #350
+1

[2020-01-27 17:08] RamsesMartinez commented on #430
Hi, I created a [Fork](https://pypi.org/project/r-django-jet/
) from this project, which only removes python 2 support to work on python 3, greetings!

[2020-01-27 17:09] RamsesMartinez commented on #418
Hi, I created a [Fork](https://pypi.org/project/r-django-jet/
) from this project, which only removes python 2 support to work on python 3, greetings!

[2020-01-27 21:37] mauronava-dev commented on #430
I got this error: No module named 'six'
![image](https://user-images.githubusercontent.com/19292284/73215974-bf243e00-411a-11ea-896b-80ccd504fd53.png)
![image](https://user-images.githubusercontent.com/19292284/73216037-d9f6b280-411a-11ea-9226-5f3774d5514f.png)

[2020-01-28 07:21] Barukimang commented on #430
@MauroNavaLuevanos: `pip install six` https://pypi.org/project/six/

Also fixed this with this commit: https://github.com/geex-arts/django-jet/pull/427/commits/c9e0024f055c0856de3513753db4a5fdca26e98b

So removing package and reinstalling should also work

[2020-01-28 09:32] mehrabcz commented on #398
i have the same problem

[2020-01-28 09:52] sagata1999 commented on #159
@SalchiPapa well, I tried, but after that default Dashboard died, it just dissappeared.

[2020-02-03 02:28] marcelorsoares commented on #407
The same is happening to me

[2020-02-04 16:32] hartwork opened #433 "[dev] setup.py: Issues with evaluating "install_requires" at sdist time"
Hi!

I noticed that in `setup.py` field `install_requires` is evaluated during creation of release articacts — at `sdist` time — …
https://github.com/geex-arts/django-jet/blob/06ab6436d8add9aafcf771df40358409564e6bcb/setup.py#L14-L27
… and hence ends up wrong at PyPI for most Python versions. I fixed the same issue for mergedict recently — see https://github.com/schettino72/mergedict/pull/7/files

[2020-02-06 10:15] xettrisomeman opened #434 "TemplateSyntaxError at /admin/"
Error: 'admin_static' is not a registered tag library. Must be one of: admin_list admin_modify admin_urls cache i18n jet_dashboard_tags jet_tags l10n log static "

 {% extends "admin/base_site.html" %}

{% load i18n admin_static jet_dashboard_tags static %} ->admin static

This error occurred after i have finished read.me and loaded localhost/admin

[2020-02-06 23:37] xdma commented on #306
I have exactly the same issue, the only option that I could come up with, using jQuery to just hide the empty lines, not ideal, but solve my problem.

I override the template "admin/base.html" (not only for this purpose), and added the script:

[code]

then, call it from body onload.
[code]

![before_fix](https://user-images.githubusercontent.com/7386086/73988367-262bc900-494b-11ea-8028-f07cd60be3

[2020-02-07 12:41] ruslankrivoshein commented on #430
@RamsesMartinez, `/jet/dashboard/templates/admin/index.html` 2 line, please, remove `admin_static` and release again. I face _'admin_static' is not a registered tag library_.

[2020-02-07 14:00] Barukimang commented on #430
@ruslankrivoshein had addressed that in this commit https://github.com/geex-arts/django-jet/pull/427/commits/ef5896ecdab054905c2dfe72025e52ac76b02e1e

Also see the file https://github.com/Barukimang/django-jet/blob/dev/jet/dashboard/templates/admin/index.html

[2020-02-07 14:21] RamsesMartinez commented on #430
@ruslankrivoshein  I made the change that mentions @Barukimang in [this version](https://pypi.org/project/r-django-jet/)

[2020-02-07 18:40] ruslankrivoshein commented on #430
Thanks! But there are now two `static` tags) Does it work still correctly?

[2020-02-07 21:01] RamsesMartinez commented on #430
I didn't realize that, in the next correction that requires it I remove it, it shouldn't affect it, it's just overwriting one tag with the other.

[2020-02-11 04:17] mauronava-dev commented on #226
I solved this just commenting the 'django.middleware.clickjacking.XFrameOptionsMiddleware' middleware
![Screenshot from 2020-02-10 22-09-10](https://user-images.githubusercontent.com/19292284/74210876-1f56cc00-4c53-11ea-96f0-370c0320d6a5.png)

https://github.com/django-treebeard/django-treebeard/issues/126
https://github.com/django-treebeard/django-treebeard/issues/126

[2020-02-11 04:18] mauronava-dev commented on #226
https://docs.djangoproject.com/en/3.0/ref/clickjacking/

[2020-02-11 10:20] nxb303 commented on #156
This fixed it for me, i forgot to add the `app.` in the JET_INDEX_DASHBOARD constant.

[2020-02-14 15:19] TrungKien1230 commented on #386
Did you find the solution ?

[2020-02-19 11:25] vanyakosmos opened #435 "Pagination is rendered incorrectry"
There are 26 pages of events, and pagination looks like this:

<img width="194" alt="Screenshot 2020-02-19 at 13 21 45" src="https://user-images.githubusercontent.com/16745500/74829998-dd94e800-531a-11ea-847e-10c2b916cbd8.png">

Django version:
[code]

With django 2.1 everything is fine

[2020-02-19 11:59] vanyakosmos commented on #365
In firefox `CTRL+R` is just reload. To remove cache use `CTRL/CMD+SHIFT+R`

[2020-02-25 10:48] akamoroz commented on #435
Hello @vanyakosmos ,
If it this issue is still actual for you please check the small patch:
[code]

[2020-02-25 16:48] vanyakosmos opened #437 "error on autocomplete when using unmanaged model"
[code]

[2020-02-29 10:57] Ishma59 commented on #434
Hi, were you able to solve the issue? I'm also having the same issue

[2020-02-29 11:05] Ishma59 commented on #434
found the solution! `pip uninstall django-jet` and then `pip install django-3-jet` if you are using django3

[2020-03-04 14:58] vanyakosmos commented on #437
Fixed by manually creating `change_` permissions for each un-managed model.

[2020-03-04 14:58] #437 closed, assigned to nobody

[2020-03-04 22:14] vanyakosmos commented on #435
@akamoroz Thanks. Changing that line to `if (['...', '…'].includes($.trim($node.text()))) {` solved the problem. But I will keep the issue open until it fixed in jet (if ever)

[2020-03-06 09:14] TrungKien1230 commented on #386
I found that, you need to change to use django-nested-admin. It is better and you can solve this problem

[2020-03-08 23:21] vseavello opened #439 "Where can I find a binary package for django-jet==1.0.8?"
Installing django-jet using the --only-binary=:all: option fails with

Could not find a version that satisfies the requirement django-jet==1.0.8 (from versions: )
No matching distribution found for django-jet==1.0.8

When removing this option the installation completes.

We are intending on installation of django-jet on a production system. Installing binary only facilitates building a stable and

[2020-03-11 10:16] #217 closed

[2020-03-15 10:32] Alessyo commented on #435
I am unable to fix the error with the line of code above. Do you need to do anything else?

[2020-03-15 10:47] vanyakosmos commented on #435
yeah, you will also need to rebuild js bundle after making any changes in js files. Run `gulp scripts`

[2020-03-22 15:34] Yatchman1 opened #440 "Boolean fields not showing icons True/False in admin"
Hi guys,

the issue is that boolean felds are not showing icons if True or False. All other icons within interface are showing well and even if I "turn off" Jet to display default Django admin, the icons are showing normally.

Any idea?

[2020-03-27 20:46] attadje opened #441 "Override save for model doesn't work when i save in Django Jet Admin"
Hi,

I wanted to know if it was possible to override the save method for it work on django jet admin.
I override the save method in my model like bellow:

`def save(self, *args, **kwargs):
        self.user_name = "{} {}".format(self.last_name.title(), self.first_name.title())
        super(Customer, self).save(self, *args, **kwargs)`

It work perfectly in the standard Django admin but not in Djan

[2020-03-28 03:51] HoangYell commented on #418
`Six` is used to support code can run on both `python2` and `python3`
Most of us don't use `Python2` anymore. So, we don't need to use `six`.

**Customize Jet source code** to fix the bug by:
- go to `~/..../virtualenv/your_project/lib/python3.6/site-packages/jet`
  - copy `all jet forlder` to `/your_project`

- in `your_project/jet/models.py`
  - delete all `python_2_unicode_compatible`(import, d

[2020-03-29 17:53] guettli commented on #389
@ddavidebor you are right. Time will tell. Which alternatives to jet look promising according to your point of view?

[2020-03-29 20:56] ddavidebor commented on #389
@guettli If we are talking about a generic SaaS with a modern admin panel, this one was the best usability wise.

If this is something to be used for users to interact, and you want to use django, all other choices are not as good.

Personally, I was working on CMS/ERP style app, and decided to work with a framework oriented in that direction called https://frappe.io/ . It's a full fledged Backend

[2020-03-30 11:44] SalahAdDin commented on #389
@ddavidebor I think if we come to this kind of admin templates is because we want to give a good experience even inside ot Django's administration.

[2020-03-30 12:04] ddavidebor commented on #389
Of course. In my case, the admin experience was 90% of the app.

But to be honest, so many Django business app could be implemented with
frappe in 1/20th of the time and being years of development ahead.

On Mon, 30 Mar 2020, 12:44 José Luis, <notifications@github.com> wrote:

[2020-03-30 16:25] Vadorequest commented on #389
Thanks @ddavidebor for mentioning Directus and Frappe. They both look so promising and I had never heard of them, such a shame.

I quickly compared both yesterday, couldn't get started with Frappe cloud version because it crashed or something. Directus look very good too, I'm going through the doc right now.

This is a bit out of topic, but may also help readers looking for an alternative to JET.

[2020-03-30 16:51] ddavidebor commented on #389
Hello @Vadorequest

Please try https://github.com/frappe/frappe_docker for frappe! If you have any issue you can write me there, I am a maintainer of that repo (only frappe_docker, not the main frappe repo).
Unfortunately frappe itself is not offered in the cloud, only the ERP solutions based on the frappe framework.

Regarding your requirements:

frappe does that, all the main configurations are

[2020-03-30 19:52] Vadorequest commented on #389
Thank you very much for your in-depth answer! Very useful!

I have more questions but I'll rather ask them on a Frappe-related forum or so.

[2020-03-30 21:14] guettli commented on #389
If you compare the django and frappe stackoverflow tag trend, then you can hardly see frappe:

http://sotagtrends.com/?tags=django+frappe

![image](https://user-images.githubusercontent.com/414336/77962608-2e194100-72dc-11ea-820e-461b3ea2e8ba.png)

[2020-03-30 22:04] ddavidebor commented on #389
One is a specialized tool, the other is a generic framework. Also, frappe has separate forums from stackoverflow.

[2020-03-31 11:14] SalahAdDin commented on #389
I knew `frappe` as an alternative to `Odoo`.

[2020-04-02 13:25] helloerikaaa commented on #360
Something about this? I'm having the same problem.

[2020-04-04 16:32] KernelPan1k opened #443 "Project Maintenance"
Hi,

since project development is frozen in favor of jet-bridge, I'd like to know if anyone else has taken over the maintenance of this project? Does the license allow it?

Thanks

[2020-04-28 14:08] TrungKien1230 opened #446 "Create charts for KPI with django-jet dashboard"
Hello, i want to create some charts (bar chart, line chart,...) for some KPI (ex: number of user, number of reports in a month, ...) Could we do that with django-jet at Dashboard? If not, do you know how to do that ?

thanks

[2020-04-28 14:08] TrungKien1230 opened #447 "Charts with django jet dashboard"
Hello, i want to create some charts (bar chart, line chart,...) for some KPI (ex: number of user, number of reports in a month, ...) Could we do that with django-jet at Dashboard? If not, do you know how to do that ?

thanks

[2020-04-29 14:30] TrungKien1230 commented on #61
@kliver Hello, I would like to add a chart to dashboard of django-jet as you did, could you please share to me the file that you realized ? (because I am new in django, so I don't know too much, I hope you could help me)
thanks in advance

[2020-04-30 10:10] TrungKien1230 opened #449 "fullname() missing 1 required positional argument: 'self'"
Hello, I am trying to create a chart in dashboard, I test my code with simple code like this:

In module_chart.py

class ModuleChart(DashboardModule):
    """ Create Chart in Dashboard"""
    template = 'admin/dashboard/module_chart.html'
    title = 'KPI chart'

In dashboard.py:
class CustomIndexDashboard(Dashboard):
    columns = 4
    def init_with_context(self, context):
    ....
        self.

[2020-05-08 04:04] sushantpatil1214 commented on #418
For this Error Use new version of Django Jet 2
Use:-  pip install r-django-jet

https://pypi.org/project/r-django-jet/

[2020-05-22 16:19] valentinc94 opened #450 "django-jet static don't load on django 3.0"

[2020-05-27 05:14] elcolie opened #451 "Not support Django3"
I checkout and `python manage.py makemigrations` and got this
[code]

[2020-05-27 18:13] rgedwill commented on #451
Just had the same problem

[2020-05-28 02:39] elcolie commented on #451
Solved by using `Python3`

[2020-05-28 02:39] #451 closed, assigned to nobody

[2020-06-03 11:17] sanidhyamangal opened #453 "Unable to proceed after login for custom user"
I have created a custom user model for my Django App. Everything is working fine without django-jet but when I use I use django jet then I receive the error which says **argument of type 'QuerySet' is not iterable**  with following error trace :
[code]

Sneak peak to my settings.py file:
[code]

[2020-06-26 11:41] rafaellehmkuhl opened #457 "Live demo out of air"
The [live demo link](http://demo.jet.geex-arts.com/admin/login/?next=/admin/) with admin/admin on login/pass returns 500 server error.

[2020-06-29 07:21] jttttttttttttt opened #458 "CompactInline need page when data is large"
CompactInline need page when data is large..

[2020-07-06 03:20] dubitoergo commented on #300
@ryanovas This fixes the issue for me but isn't it time this is merged by someone...

[2020-07-09 04:10] anishChoudhary333 commented on #323
@aldarund @wisnuprama is there any fix for this?

[2020-07-10 09:42] Barukimang commented on #450
Use the django3 version of Jet: `pip install django-3-jet`

[2020-07-13 18:29] souzagilson15 commented on #275
This problem has not yet been solved.

Thanks Sandro!

[2020-07-16 18:33] hell-io commented on #300
The issue can be solved in a different way - by overriding colors in _variables.scss for a theme.

The colors for jet icons are defined by `$warning-text-color` and `$success-text-color` variables. Some themes like _light-violet_ have "#fff" set. You can take the values from the default theme:
[code]

This solution is perfectly suitable for a custom theme (I faced the trouble cause jet docs points

[2020-07-17 09:24] SalahAdDin commented on #300
Could you make a PR?

[2020-08-01 07:33] tuergeist opened #460 "Please update jQuery to 1.12.0 or higher"
Vulnerable javascript library: **jQuery version: 1.11.3**

Details:
CVE-2015-9251: jQuery versions on or above 1.4.0 and below 1.12.0 (version 1.12.3 and above but below 3.0.0-beta1 as well) are vulnerable to XSS via 3rd party text/javascript responses(3rd party CORS request may execute). (https://github.com/jquery/jquery/issues/2432).
Solution: jQuery version 1.12.0 has been released to address t

[2020-08-03 05:00] djtsov commented on #417
@bobycloud I faced with the same problem (empty foreign field) when I use default model manager different from "objects". Did you manage to solve that problem?

[2020-08-03 06:20] BobbyBabazadeh commented on #417
@djtsov Hi, Because of this problem I decided not to use django-jet in my project.

[2020-08-03 10:06] tuergeist commented on #460
we use a paid version of Jet :)

[2020-08-03 20:45] tuergeist opened #461 "Remove hidden call to unsafe https://jet.geex-arts.com/ping.gif 1x1 pixel image"
This hidden and undocumented call to an image shall be removed.
I discovered it when configuring Content Security Policy directives.

AND, the certificate used by that domain is invalid as well.

[2020-08-04 06:34] fanevanjanahary commented on #156
This works for me

[2020-08-08 03:07] akiyoko commented on #453
You should migrate jet. See https://jet.readthedocs.io/en/latest/install.html#installation.
[code]

I had the same problem, but migrating solved it.

[2020-08-08 03:58] #319 closed

[2020-08-08 05:56] sanidhyamangal commented on #453
@akiyoko, I've already tried that still it is not working.

[2020-08-31 13:58] esirK commented on #306
Right now you just need to use
[code]
Replace the items and permissions appropriately.

[2020-09-16 21:12] infinito84 commented on #149
Guys I added in base.html this code and works:

[code]

[2020-10-06 11:32] AhmadEbeid commented on #68
Any new solution is presented ?

[2020-10-06 15:43] SalahAdDin commented on #68
@AhmadEbeid THis package was deprecated.

[2020-10-15 20:00] fannigurt commented on #461
https://github.com/geex-arts/django-jet/issues/260

[2020-10-26 19:33] zypro commented on #450
@valentinc94 is the issue solved by using django-3-jet? pls close the issue if so, thx

[2020-11-04 22:34] Suaz commented on #263
same problem here
any solutions?

[2020-11-08 17:39] useradd-temp opened #464 "django.gettext is not a function in admin page"
[code]

"django.gettext is not a function" occur on "admin/auth/group/add/", "admin/auth/user/add/" and other admin pages

![image](https://user-images.githubusercontent.com/49449148/98472184-c1343500-2234-11eb-958b-26327b181610.png)

I think it's a problem that occurs in the order in which "jsi18n" is called.

So I am using admin/base.html temporarily.

it is a temporary solution, I hope the code

[2020-11-09 23:57] pxfskjp commented on #330
I have same problem.
If you solve this problem, help me!

[2020-11-14 03:54] linxlunx commented on #261
When I realized that my django admin with Jet was not rendering the checboxes, I found this issue still open here.

After trying some steps with no luck, I found that this css property below cause the checkboxes not rendered.

**/jet/static/jet/css/_forms.scss**
[code]

So I create custom css file to override the property.

**admin.py**
[code]

**static/css/checkbox-override.css**
[code]

With thi

[2020-11-18 08:30] leogout opened #465 "Willing to maintain django-jet ?"
@edmenendez GitHub has ability to add members of repository that can approve PRs and edit code. There is no need to add forks and confuse other developers.

_Originally posted by @f1nality in https://github.com/geex-arts/django-jet/issues/389#issuecomment-470218177_

Hello, in regard of this issue and this particular comment, I think it is appropriate for me to offer my time as a maintainer of dja

[2020-11-18 15:41] edmenendez commented on #465
@leogout The issue is not if GitHub supports it. The issue is that it seems the repository is abandoned. GitHub's support for that is forking.

[2020-11-18 17:04] leogout commented on #465
@edmenendez Yeah, yeah, I have read all your comments about how and why this repo is dead. No need to pollute this discussion with more of that.

Thank you for pointing me in the direction of a fork, although it is clearly not what I am asking. Also I can't see yours so why do you bother telling me what to do?

This repo has 2.9k stars and a good reputation, it is nothing but common sense to ask t

[2020-11-18 17:38] edmenendez commented on #465
@leogout Sounds like you will be a fantastic maintainer if you can get someone to respond. I hope someone does. Good luck!

If you eventually choose to fork and need help finding a new pip name, I'll be happy to assist.

[2020-11-18 17:47] f1nality commented on #465
Hi @leogout, nice to meet you!

Thanks for your initiative and words, it can be really helpful since we still don't have enough resources to maintain this repository.
For sure we can add you as a maintainer if you are willing to support this repository.

We can discuss uploading to pip somewhere privately
My facebook https://www.facebook.com/d.kildishev/ or email denis@kildishev.ru

Are there anyo

[2020-11-18 18:03] edmenendez commented on #465
@f1nality I would be happy to help. I believe there are others listed in issue #389 that might also be interested.

[2020-11-19 09:39] f1nality commented on #465
@edmenendez I've sent you invite to become maintainer as well, thanks a lot for supporting this project.

[2020-11-19 10:42] leogout commented on #465
By the way, are you still selling Django Jet licences ? http://jet.geex-arts.com/prices
If not, it may be the time to change the licencing system to attract more contributors / users.
Also it is harder for me to be willing to spend my personnal time on this library, if you continue to make money with it.
I think @edmenendez would agree too.

What do you think @f1nality ?

[2020-11-21 07:52] lantip commented on #228
Hi all,
i know this is an old issue, but may be someone come across this issue and wonder the solution, i have a quite hackish way to overcome this.

just define custom css for curent model admin:
[code]
and create css accordingly with this:
[code]

hope this help

[2020-11-22 13:05] SalahAdDin commented on #465
@leogout They change the admin revenue mode and hence they discontinued this project.

[2020-12-01 15:52] imamatory commented on #464
Same problem. Thanks, @helloracoon for the temporary solution.
Also, I think it should be mentioned that this snippet may be located in `BASE_DIR/templates/admin/base.html`. And don't forget to check that it should be resolved by template loader.

[2020-12-03 10:03] IRemsha commented on #386
@TrungKien1230 Do you have a solution to this problem?

[2020-12-15 12:18] wansiedler opened #469 "AttributeError: module 'jet' has no attribute 'dashboard'"
[code]
[code]
[code]

[2020-12-20 15:19] raifran1 opened #470 "Importation error in models using Django3"
### **ERROR IN DJANGO 3**
 _from django.utils.encoding import python_2_unicode_compatible
ImportError: cannot import name 'python_2_unicode_compatible' from 'django.utils.encoding' (/home/raifran/.conda/envs/vaskipedia/lib/python3.7/site-packages/django/utils/encoding.py)_

update archive /jet/models.py and replace
### old calling
from django.utils.encoding import python_2_unicode_compatible

###

[2020-12-24 11:46] Barukimang commented on #470
Install jet compatible with Django 3: `pip install django-3-jet`

https://pypi.org/project/django-3-jet/

[2020-12-24 11:52] Barukimang commented on #469
Does including a comma after 'jet' help?

[2020-12-24 12:54] raifran1 commented on #470
thank

[2020-12-24 12:54] #470 closed, assigned to nobody

[2021-01-14 15:09] JohnChinaski opened #472 "ImportError: cannot import name 'python_2_unicode_compatible' from 'django.utils.encoding' <DJANGO >= 3>"
Hi!
I'm trying to use django-jet in my Django application in version 3.1, but I'm getting the following ERROR:

In:

I did some searching on the internet and found that this was removed in Django 3.0 or higher.

https://forum.djangoproject.com/t/importerror-cannot-import-name-python-2-unicode-compatible-from-django-utils-encoding/4336
https://stackoverflow.com/questions/59583726/django-importerror

[2021-01-15 08:54] Barukimang commented on #472
Use the django3 version of Jet: `pip install django-3-jet`

[2021-01-19 00:18] renzyndrome commented on #472
pip install six
replace django.utils with six

`from six import python_2_unicode_compatible`

[2021-01-21 16:57] mat0ccdeekk opened #473 "Create Module Template"
https://jet.readthedocs.io/en/latest/dashboard_custom_module.html#create-module-template

what name should the template have?

[2021-01-21 21:02] hanztura commented on #148
I've tried @gslaboch 's solution but for some unknown reason it is not working.

So kind of used his solution and do a bit of a hack and only then it worked on my end. Here is the code:
![Screenshot_2](https://user-images.githubusercontent.com/24766426/105411964-0fbb7200-5c6f-11eb-9e70-7f84e96ee9d3.png)

[code]

[2021-01-22 21:57] Jay2109 commented on #61
I am planning to add folium map how can I do it ?

[2021-02-25 10:51] koyadovic commented on #418
Another solution is also, in the settings.py file of your project, add the following lines above all:
[code]
In this way the change comes from your code, it is not necessary to modify installed libraries with the use of pip.

[2021-03-01 15:07] matwrob commented on #465
Hi @loegout, @edmendez, @salahaddin,
does anybody of you continue to work on it?

[2021-03-01 17:54] SalahAdDin commented on #465
I left this long time ago.

[2021-03-08 13:41] #472 closed, assigned to nobody

[2021-03-08 17:19] wonook commented on #52
For some of those trying Django-jet on Django 3.0+, you have to set `X_FRAME_OPTIONS = 'SAMEORIGIN'` in order for the popup contents to work.

[2021-03-09 11:24] sunnythakr opened #476 "NameError: name 'URL' is not defined Django REST API"
# here is code
import requests
import json

URL="http://127.0.0.1:8000/studentapi"

def get_data(id =None):
    data ={}
    if id is not None:
        data = {'id':id}
    json_data= json.dumps(data)
    r = requests.get(url = URL,data = json_data)
    data= r.json()
    print(data)

# get_data(1)

def post_data():
    data ={
        'name':'ravi',
        'roll':123,
        'city':"chicago"

[2021-03-10 19:24] #476 closed, assigned to nobody

[2021-03-14 10:30] cosmy81 commented on #418
That's the best solution. It doesn't make you modify the libraries and you can remove it anytime further.  Thank you!!!

[2021-03-23 03:02] BrainiacRawkib commented on #434
🚀 really worked.

[2021-04-02 04:15] #434 closed, assigned to nobody

[2021-04-14 08:08] nicksce commented on #447
@TrungKien1230 Did you find any way to add charts to the Dashboard?

[2021-04-21 15:50] wildronin commented on #426
For whoever fights with this next,

context.get('user')
context.get('user').pk

[2021-05-20 08:00] petersenpeter commented on #84
Still a problem in 2021! Anybody found a fix for this?

[2021-05-20 10:00] SalahAdDin commented on #84
This package is deprecated man, sorry.

[2021-05-20 12:00] petersenpeter commented on #84
Thanks, but still in use. :-)

[2021-05-25 16:04] harshakhmk commented on #449
Can I work on this

[2021-06-04 02:02] Danycraft98 opened #481 "Error when using the package."
For some reason `from django.utils.encoding import python_2_unicode_compatible` gives me error (in /jet/models.py).
I had to change to `from six import python_2_unicode_compatible`

[2021-06-06 21:18] yenes11 opened #482 "filter_horizontal issue"
My groups page looks like this:
![image](https://user-images.githubusercontent.com/34625410/120940394-bd628580-c725-11eb-85e7-c2bc1a0a8355.png)

I tried with 3 diffrent browsers(chrome, firefox, edge) so its not a browser related problem. Does anyone have an idea?

[2021-06-22 16:06] Sanshain opened #485 ""admin_static" is not a registered tag library in case insertion "jet.dashboard" in INSTALLED_APPS"
I have an error:
[code]
when I follow the following instruction from here https://jet.readthedocs.io/en/latest/install_dashboard.html:

[code]

To be more precise: when I set `jet.dashboard` before `jet` in INSTALLED_APPS I have got the error  in line:

[code]

This line is inside `jet/dashboard/templates/admin/index.html` template.

I was looking for `admin_static ` package inside templatetags di

[2021-06-26 18:00] Barukimang commented on #485
Use the django3 version of Jet: `pip install django-3-jet`

[2021-06-29 10:56] VaarunSinha commented on #181
has anyone found best way to uninstall Django jet?

[2021-06-29 11:03] VaarunSinha opened #486 "How to uninstall and disable Django jet from your project ?"
removing it from apps and urls are not working.

[2021-07-09 17:44] himanshubarmn10 commented on #417
Did anybody get any solution for it ?

[2021-07-21 21:08] Samiddha99 opened #487 "ImportError: python_2_unicode_compatible"
I am using **Django==3.2.**
During the time of running `python manage.py migrate jet` command, I'm getting the following error:
[code]
Why it's not found the module?
How to fix the problem?

[2021-07-25 09:21] Barukimang commented on #487
Use the django3 version of Jet: `pip install django-3-jet`

[2021-07-25 09:21] Barukimang commented on #481
Use the django3 version of Jet: `pip install django-3-jet`

[2021-07-28 21:27] arkD commented on #379
I would also like to know this for custom links that point to models

[2021-08-09 16:26] dawitadmassu opened #490 "ModuleNotFoundError: No module named 'jet.urls'"
i am getting this issue when i use django-3-jet

[2021-08-12 13:53] FelicianoManguele commented on #376
i have already imported 'include' but i still have the name Error

[2021-08-14 13:55] stopplay commented on #418
legend

[2021-08-20 20:25] chrisdevilliers commented on #261
Expanding on @tehdoorsareopen 's comment. The following works for Django 3.2.6, django-3-jet 1.0.8 and django-multiselectfield 0.1.12:

**<project\>/settings.py** (see: [docs](https://docs.djangoproject.com/en/3.2/ref/forms/renderers/#django.forms.renderers.TemplatesSetting))
[code]

**<app\>/admin.py**
[code]

**<app\>/templates/django/forms/widgets/checkbox_option.html**
[code]

[2021-09-04 16:52] ahmedsharifkhan commented on #181
### **How can I  uninstall Django jet?**

[2021-09-11 10:59] #487 closed, assigned to nobody

[2021-10-04 05:30] MdAsimKhan commented on #473
Can you please elaborate what issue you want to solve here?

[2021-10-06 06:56] ManiMozaffar commented on #212
Hello, I still have this issue, any update regarding to fix it?

[2021-10-27 12:00] petersenpeter commented on #435
Does anybody have a proper solution to this issue?

[2021-11-08 11:38] SoftDevel97 opened #495 "Issue with google analytics widget"
Google analytics widget looks like this in admin page:

![Cattura](https://user-images.githubusercontent.com/79897740/140733161-4a2c4a4e-b386-4484-b4dc-8f6d354164df.PNG)

When I press on the message, this error appears:

![Cattura1](https://user-images.githubusercontent.com/79897740/140733293-434ed2fb-1365-44a8-be4b-2ebaa1da522d.PNG)

The error is in the file "venv/lib/site-packages/django/forms/b

[2021-11-20 19:40] abhi1693 commented on #465
If anyone's interested, here is a fork with maintenance fixes

https://github.com/Onemind-Services-LLC/django-jet

[2021-11-25 19:06] cuococarlos commented on #407
The same is happening to me. The same dependencies configuration

[2021-11-25 20:54] DeeStarks opened #496 "Jet is not responding"
I tried to visit the admin but the page was stuck on loading. In an attempt to resolve this issue, I restarted the app several times. Then I removed jet from the installed apps and admin loaded up.

The same thing happens when migrating -
[code]
It's been stuck here for about 30 mins

[2021-11-29 20:06] Barukimang commented on #496
Did you add Jet to `settings.py`?

``INSTALLED_APPS = (
    ...
    'jet',
    'django.contrib.admin',
)``

https://pypi.org/project/django-3-jet/

[2021-12-10 02:04] taeeun-klleon commented on #482
@yenes11 Hi 😃, have you solved this problem?

[2021-12-10 15:45] yenes11 commented on #482
@taeeun-klleon no, I use the default admin site now.

[2021-12-11 15:48] rahulgupta-hub commented on #362
any solution to this?

[2021-12-14 13:38] XploitXploit commented on #89
still not fixed!!

[2021-12-24 23:31] naveenreddyin commented on #305
any progress with this?

[2022-01-15 01:23] ryanovas commented on #464
I was just about to give up trying to fix this until I stumbled upon this issue, thanks @helloracoon

Here's the docs for overriding admin templates for others who come across this: https://docs.djangoproject.com/en/3.2/ref/contrib/admin/#overriding-admin-templates

[2022-02-14 08:44] ibtsam0018 opened #503 "get_model_queryset() missing 1 required positional argument: 'search_help_text'"
<pre class="exception_value">get_model_queryset() missing 1 required positional argument: 'search_help_text'</pre>

Request Method: | GET
-- | --
http://127.0.0.1:8000/admin/blog/blogmod/1/change/
4.0.2
TypeError
get_model_queryset() missing 1 required positional argument: 'search_help_text'
/home/ibtsam/Documents/django-project/venv/lib/python3.8/site-packages/jet/templatetags/jet_tags.py, line 1

[2022-02-17 10:11] ilmars commented on #503
the same for me!

[2022-02-17 15:55] shamsnaamir commented on #503
and for me

[2022-03-01 20:12] Jocelyn-AGORO opened #504 "ImportError: cannot import name 'python_2_unicode_compatible' from 'django.utils.encoding'"
in my research I find that 'python_2_unicode_compatible' was removed since django 3.0 https://docs.djangoproject.com/en/3.0/releases/3.0/#removed-private-python-2-compatibility-apis. How can I resolve this problem ?

[2022-03-16 08:36] ecakashjadhav opened #505 "Demo site Admin panel not open (Server Error (500))"
Hi,
   Admin panel not opening. shows error when I try to a login demo site

[2022-03-16 08:37] #505 closed, assigned to nobody

[2022-03-16 08:37] akashjadhav3 opened #506 "Demo site Admin panel not open (Server Error 500)"
Hi,
Admin panel not opening. shows error when I try to a login demo site

[2022-03-22 09:23] AlexFoxalt opened #507 "__init__() missing 1 required positional argument: 'search_help_text'"
Hello all, i have an issue with entering to edit model instance menu.

![DeepinScreenshot_select-area_20220322112126](https://user-images.githubusercontent.com/87129973/159448123-9870dce0-b7e9-47c0-a7ba-70c5b900b384.png)

Maybe someone had the same issue?

[2022-03-27 08:26] assem-ch commented on #465
A version for supporting django 3 and 4: https://github.com/assem-ch/django-jet-reboot

[2022-03-29 00:23] Rishubh03 commented on #507
I am also facing the same issue.
Do you have any solution for that?

[2022-03-29 06:54] AlexFoxalt commented on #507
Still nope. I can offer a few solutions, but they are quite radical:

1. Downgrade to Django 3
2. Get rid of JET and select smth else

[2022-03-30 16:06] Mojtaba-saf commented on #507
I don't think this repository is maintained anymore.
I tried to fix this issue a while ago and it's working now on django 4.0.1 .
here is the [link](https://github.com/Mojtaba-saf/django-jet.git)

[2022-04-04 20:23] assem-ch commented on #389
Hi guys, I want to mention this repo: [django-jet-reboot](https://github.com/assem-ch/django-jet-reboot), where we are trying to support Django jet for the latest version of Django and python: Django 3 and Django 4

[2022-04-23 04:38] shihyuuuuuuu commented on #161
Thanks a lot, you saved my day.

[2022-04-28 16:46] ZiggerZZ commented on #507
@Mojtaba-saf I installed your version with pip install https://github.com/Mojtaba-saf/django-jet/archive/dev.zip and I still get the problem with `search_help_text`. Did your fix work for you?

[2022-04-28 16:53] ZiggerZZ commented on #507
Ah, this is on your dev branch, not in master... @Mojtaba-saf

[2022-04-28 17:10] ZiggerZZ commented on #507
My bad, I had Django 3. I upgraded to Django 4.0.1 and it works fine now!

[2022-04-28 21:57] ZiggerZZ commented on #507
Btw just stumbled upon https://github.com/assem-ch/django-jet-reboot

[2022-05-24 18:19] nizamializadeh commented on #507
jet/utils.py file    change

search_help_text = model_admin.search_help_text
    change_list_args = [
        request, model, list_display, list_display_links, list_filter,
        model_admin.date_hierarchy, search_fields, list_select_related,
        model_admin.list_per_page, model_admin.list_max_show_all,
        model_admin.list_editable, model_admin]
        model_admin.list_editable, model_

[2022-05-28 07:22] assem-ch commented on #443
I am maintaining a fork here for python 3: https://github.com/assem-ch/django-jet-reboot

[2022-05-29 18:46] pareshpandit opened #509 "django-jet-4 not able to display individual DB entries : TypeError at '/admin/app/model-table/<int:pk>/change/'"
When trying to view and entry, a template error pops up, and barrs display of the details of a new (or old) db entry.

**The error reads as under:**
`In template [my_project_dir_path]/env/lib64/python3.10/site-packages/jet/templates/admin/base.html, error at line 122`

This is with respect to rendering of the tag :   `{% jet_previous_object as sibling %}` , and reads as :
`ChangeList.__init__() mi

[2022-05-30 16:53] CARocha commented on #486
yes it working you need run again collect static a clean cache for your browser

[2022-05-30 16:57] CARocha opened #510 "this project will no longer be maintained???"
si la respuesta es si, porque mejor se lo pasan a jazzband https://github.com/jazzband
this project is very beautiful they should not let it die

[2022-05-30 17:05] VaarunSinha commented on #486
Oh ok 👍🏼

[2022-05-30 17:05] #486 closed, assigned to nobody

[2022-06-28 05:14] Sultan91 commented on #469
Same problem

[2022-06-29 08:23] mehdirazajaffri opened #512 "Compact Inline is not working"
@Barukimang, with django-jet-4, compact inlines are not working. there is not much difference in django-3-jet and django-4-jet. I am using Django===4.0.3. Can you please help me in this?

[2022-06-29 14:34] Barukimang commented on #512
Sure @mehdirazajaffri Do you have a fix in mind for this?

[2022-07-02 16:35] Barukimang commented on #504
You can install this version: https://pypi.org/project/django-jet-4/

[2022-07-28 19:55] Barukimang commented on #509
Hej @pareshpandit maybe try this package: https://pypi.org/project/django-4-jet/

[2022-08-02 18:35] webtomek opened #515 "Connection refused by localhost when trying to add a foreign key in new model"
I have 2 models, one has a foreign key pointing to the other model. When I press "Add item" in the first model, I can press the plus button next to the foreign key field to add another to that model, but when I click it, it says "Connection refused by localhost".

`class Currency(models.Model):
    name = models.CharField(max_length=200, null=False, blank=False)

class Item(models.Model):
    name

[2022-08-23 01:42] simwoo7 commented on #435
I solved this issue with changing admin_list.py.

`…  -> ...`

@register.simple_tag
def paginator_number(cl, i):
    """
    Generate an individual page index link in a paginated list.
    """
    if i == DOT:
        return **'...' <-- change this**
    elif i == cl.page_num:
        return format_html('<span class="this-page">{}</span> ', i + 1)
    else:
        return format_html(

[2022-08-29 13:56] matveev-ka opened #516 "Scroll down on admin columns get messed up"
![Screenshot from 2022-08-29 16-47-39](https://user-images.githubusercontent.com/100426632/187217840-b57aaf45-e107-47f8-9ef0-7f8d6abef2d8.png)
![Screenshot from 2022-08-29 16-47-51](https://user-images.githubusercontent.com/100426632/187217850-adfedb75-5295-44f1-a7e1-1f7a5adc3075.png)
column names change their position

[2022-09-18 12:15] dresl commented on #515
I had the same problem. Try add this to `settings.py`:
[code]

[2022-09-18 17:40] webtomek commented on #515
Abandoned repo I guess.

[2022-09-18 17:40] #515 closed, assigned to nobody

[2022-10-03 17:42] demoh2019 commented on #249
+1

[2022-10-07 08:42] Barukimang commented on #510
Hej @CARocha It's not actively maintained anymore, but it has been updated for Django 4, you can find it here: https://pypi.org/project/django-4-jet/

[2022-10-07 17:05] CARocha commented on #510
Oh, great news! thank @Barukimang ,sure i will use it soon :)

[2022-10-07 17:05] #510 closed, assigned to nobody

[2022-10-28 21:19] brian-emarquez commented on #156
It worked for me deleting the word index  **Setting .py**

[code]

[2022-11-01 06:20] linhfishCR7 commented on #323
I fixed for model use uuid [github.com/linhfishCR7/django-jet](https://github.com/linhfishCR7/django-jet)

[2022-11-14 06:50] icedreamer-praveen commented on #509
@pareshpandit Thank you so much

[2022-11-14 07:17] Barukimang commented on #465
@leogout great initiative!

Had made Django 3 and 4 versions of the package: https://github.com/Barukimang/django-jet

Here you can find them on Pypi:

https://pypi.org/project/django-3-jet/
https://pypi.org/project/django-4-jet/

[2022-11-30 08:50] covadonga99 opened #518 "admin_url with view permission"
Hello!
Why you need change permissions to click in the changelist view of a model? I have a model user in the core app and I have a group with add and view permissions to this model but not change permissions and this group can't access to this view from the side menu but it can access to the changelist view if it clicks in the core app from the side menu it can click on the view of the users (or